<div class="layout__area--bottom no-border-top-right-radius"
     style="position: absolute; bottom: 0px; left: 56px; width: 1864px; height: 363.711px;">
    <div style="height: 39px;">
        <div id="footer-chart-panel" class="footerPanel-dA6R3Y1X overlap-dA6R3Y1X" role="toolbar">
            <div class="tabbar-n3UmcVi3">
                <div class="tabs-n3UmcVi3">
                    <div class="tab-n3UmcVi3">
                        <button aria-label="Open Screener" data-name="screener" data-active="false" aria-pressed="false"
                                tabindex="-1" type="button" data-tooltip="Open Screener"
                                class="tab-jJ_D7IlA accessible-jJ_D7IlA title-e74nT6EP apply-common-tooltip"><span
                                class="titleText-e74nT6EP">Stock Screener</span></button>
                        <button type="button"
                                class="button-e74nT6EP button-merBkM5y apply-common-tooltip accessible-merBkM5y"
                                tabindex="-1">
                            <div class="arrow-merBkM5y">
                                <div class="arrowWrap-merBkM5y"><span class="icon-WB2y0EnP"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 8" width="16" height="8"><path
                                        fill="currentColor"
                                        d="M0 1.475l7.396 6.04.596.485.593-.49L16 1.39 14.807 0 7.393 6.122 8.58 6.12 1.186.08z"></path></svg></span>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="tab-n3UmcVi3">
                        <button aria-label="Open Pine Editor" data-name="scripteditor" data-active="false"
                                aria-pressed="false" tabindex="-1" type="button" data-tooltip="Open Pine Editor"
                                class="tab-jJ_D7IlA accessible-jJ_D7IlA title-n3UmcVi3 apply-common-tooltip"><span
                                class="titleText-n3UmcVi3">Pine Editor</span></button>
                    </div>
                    <div class="tab-n3UmcVi3 active-n3UmcVi3">
                        <button aria-label="Close Strategy Tester" data-name="backtesting" data-active="true"
                                aria-pressed="true" tabindex="-1" type="button" data-tooltip="Close Strategy Tester"
                                class="tab-jJ_D7IlA accessible-jJ_D7IlA title-n3UmcVi3 apply-common-tooltip"><span
                                class="titleText-n3UmcVi3">Strategy Tester</span></button>
                    </div>
                    <div class="tab-n3UmcVi3">
                        <button aria-label="Open Trading Panel" data-name="paper_trading" data-active="false"
                                aria-pressed="false" tabindex="-1" type="button" data-tooltip="Open Trading Panel"
                                class="tab-jJ_D7IlA accessible-jJ_D7IlA js-bottom-trading-tab apply-common-tooltip container-RoCcHn9S disconnected-RoCcHn9S inactive-RoCcHn9S"
                                style="--trade-button-width:0;"><span class="title-RoCcHn9S"><span
                                class="titleText-RoCcHn9S">Trading Panel</span></span>
                            <div class="indicator-RoCcHn9S apply-common-tooltip" title="Disconnected"></div>
                        </button>
                    </div>
                </div>
                <div class="tabs-n3UmcVi3 fakeTabs-n3UmcVi3">
                    <div class="tab-n3UmcVi3">
                        <button aria-label="Open Screener" data-active="false" aria-pressed="false" tabindex="-1"
                                type="button" data-tooltip="Open Screener"
                                class="tab-jJ_D7IlA accessible-jJ_D7IlA title-e74nT6EP apply-common-tooltip"><span
                                class="titleText-e74nT6EP">Stock Screener</span></button>
                        <button type="button"
                                class="button-e74nT6EP button-merBkM5y apply-common-tooltip accessible-merBkM5y"
                                tabindex="-1">
                            <div class="arrow-merBkM5y">
                                <div class="arrowWrap-merBkM5y"><span class="icon-WB2y0EnP"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 8" width="16" height="8"><path
                                        fill="currentColor"
                                        d="M0 1.475l7.396 6.04.596.485.593-.49L16 1.39 14.807 0 7.393 6.122 8.58 6.12 1.186.08z"></path></svg></span>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="tab-n3UmcVi3">
                        <button aria-label="Open Pine Editor" data-active="false" aria-pressed="false" tabindex="-1"
                                type="button" data-tooltip="Open Pine Editor"
                                class="tab-jJ_D7IlA accessible-jJ_D7IlA title-n3UmcVi3 apply-common-tooltip"><span
                                class="titleText-n3UmcVi3">Pine Editor</span></button>
                    </div>
                    <div class="tab-n3UmcVi3 active-n3UmcVi3">
                        <button aria-label="Close Strategy Tester" data-active="true" aria-pressed="true" tabindex="-1"
                                type="button" data-tooltip="Close Strategy Tester"
                                class="tab-jJ_D7IlA accessible-jJ_D7IlA title-n3UmcVi3 apply-common-tooltip"><span
                                class="titleText-n3UmcVi3">Strategy Tester</span></button>
                    </div>
                    <div class="tab-n3UmcVi3">
                        <button aria-label="Open Trading Panel" data-active="false" aria-pressed="false" tabindex="-1"
                                type="button" data-tooltip="Open Trading Panel"
                                class="tab-jJ_D7IlA accessible-jJ_D7IlA js-bottom-trading-tab apply-common-tooltip container-RoCcHn9S disconnected-RoCcHn9S inactive-RoCcHn9S"
                                style="--trade-button-width:0;"><span class="title-RoCcHn9S"><span
                                class="titleText-RoCcHn9S">Trading Panel</span></span>
                            <div class="indicator-RoCcHn9S apply-common-tooltip" title="Disconnected"></div>
                        </button>
                    </div>
                    <div class="menuButtonWrap-n3UmcVi3">
                        <button type="button"
                                class="menuButton-n3UmcVi3 button-merBkM5y apply-common-tooltip accessible-merBkM5y"
                                tabindex="-1"><span><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28"
                                                         fill="none"><path fill="currentColor" fillrule="evenodd"
                                                                           cliprule="evenodd"
                                                                           d="M7.5 13a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM5 14.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0zm9.5-1.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM12 14.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0zm9.5-1.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM19 14.5a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0z"></path></svg></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="buttons-dA6R3Y1X">
                <button aria-label="Hide panel" data-active="false" tabindex="-1" type="button"
                        class="button-dA6R3Y1X firstButton-dA6R3Y1X button-xNqEcuN2 button-GwQQdU8S apply-common-tooltip isInteractive-GwQQdU8S accessible-GwQQdU8S"
                        data-name="toggle-visibility-button" data-tooltip="Hide panel"><span class="icon-GwQQdU8S"><svg
                        xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="none"><path fill="currentColor"
                                                                                                    d="M7 20h14v1H7z"></path></svg></span>
                </button>
                <button aria-label="Maximize panel" data-active="false" tabindex="-1" type="button"
                        class="button-dA6R3Y1X button-xNqEcuN2 button-GwQQdU8S apply-common-tooltip isInteractive-GwQQdU8S accessible-GwQQdU8S"
                        data-name="toggle-maximize-button" data-tooltip="Maximize panel"><span class="icon-GwQQdU8S"><svg
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="28" height="28"><path
                        fill="currentColor"
                        d="M19.32 6H8.68A2.68 2.68 0 0 0 6 8.68V11h1V8.68C7 7.75 7.75 7 8.68 7h10.64c.93 0 1.68.75 1.68 1.68V11h1V8.68C22 7.2 20.8 6 19.32 6ZM7 19.32c0 .93.75 1.68 1.68 1.68h10.64c.93 0 1.68-.75 1.68-1.68V17h1v2.32C22 20.8 20.8 22 19.32 22H8.68A2.68 2.68 0 0 1 6 19.32V17h1v2.32Z"></path></svg></span>
                </button>
            </div>
        </div>
    </div>
    <div id="bottom-area" style="height: 324.711px;">
        <div class="bottom-widgetbar-handle" style="touch-action: none;"></div>
        <div class="bottom-widgetbar-loading-overlay js-hidden"></div>
        <div class="bottom-widgetbar-content undefined js-hidden"></div>
        <div class="bottom-widgetbar-content backtesting">
            <div class="backtesting deep-history">
                <div class="backtestingHeadWrapper-pF2GLGzv">
                    <div class="container-zf0MHBzY">
                        <div class="strategyGroup-zf0MHBzY">
                            <div data-strategy-title="Khanhdeux Strategy"
                                 class="singleStrategy-EPWwke1U title-EPWwke1U textEllipsis-EPWwke1U apply-overflow-tooltip"
                                 title="Khanhdeux Strategy">Khanhdeux Strategy
                            </div>
                            <div class="fixedContent-zf0MHBzY">
                                <button title="Settings"
                                        class="apply-common-tooltip light-button-bYDQcOkp no-content-bYDQcOkp with-start-icon-bYDQcOkp variant-ghost-bYDQcOkp color-gray-bYDQcOkp size-small-bYDQcOkp typography-regular16px-bYDQcOkp disable-active-state-styles-bYDQcOkp"
                                        style="--ui-lib-light-button-content-max-lines:1;"><span class="icon-bYDQcOkp"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" width="18" height="18"><path
                                        fill="currentColor"
                                        d="M9 4a2 2 0 0 0 1.59-.79c.5.14.98.34 1.42.6L12 4a2 2 0 0 0 2.2 2c.25.43.45.9.59 1.41a2 2 0 0 0 0 3.18c-.14.5-.34.98-.6 1.42a2 2 0 0 0-2.18 2.18c-.44.26-.92.46-1.42.6a2 2 0 0 0-3.18 0c-.5-.14-.98-.34-1.42-.6L6 14a2 2 0 0 0-2.2-2 5.96 5.96 0 0 1-.59-1.41 2 2 0 0 0 0-3.18c.14-.5.34-.98.6-1.42L4 6a2 2 0 0 0 2-2.2c.43-.25.9-.45 1.41-.59A2 2 0 0 0 9 4zm1.53-1.83c-.29-.07-.54.16-.7.4a1 1 0 0 1-1.65 0c-.17-.24-.42-.47-.7-.4a6.9 6.9 0 0 0-2.27.94c-.23.15-.26.47-.22.75L5 4a1 1 0 0 1-1.14.99c-.28-.04-.6-.01-.75.22a6.96 6.96 0 0 0-.94 2.26c-.07.29.16.54.4.7a1 1 0 0 1 0 1.65c-.24.17-.47.42-.4.7.18.82.5 1.59.94 2.27.15.23.47.26.75.22L4 13a1 1 0 0 1 .99 1.14c-.04.28-.01.6.22.75.68.44 1.45.76 2.26.94.29.07.54-.16.7-.4a1 1 0 0 1 1.65 0c.17.24.42.47.7.4a6.9 6.9 0 0 0 2.27-.94c.23-.15.26-.47.22-.75a1 1 0 0 1 1.13-1.13c.28.04.6.01.75-.22.44-.68.76-1.45.94-2.26.07-.29-.16-.54-.4-.7a1 1 0 0 1 0-1.65c.24-.17.47-.42.4-.7a6.96 6.96 0 0 0-.94-2.27c-.15-.23-.47-.26-.75-.22a1 1 0 0 1-1.13-1.13c.04-.28.01-.6-.22-.75a6.96 6.96 0 0 0-2.26-.94zM9 12a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"></path></svg></span>
                                </button>
                                <button title="Add alert"
                                        class="apply-common-tooltip light-button-bYDQcOkp no-content-bYDQcOkp with-start-icon-bYDQcOkp variant-ghost-bYDQcOkp color-gray-bYDQcOkp size-small-bYDQcOkp typography-regular16px-bYDQcOkp disable-active-state-styles-bYDQcOkp"
                                        style="--ui-lib-light-button-content-max-lines:1;"><span class="icon-bYDQcOkp"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" width="18" height="18"><path
                                        fill="currentColor" fill-rule="evenodd"
                                        d="M4.56 2a2.56 2.56 0 0 0-1.97 4.19c.7-1.6 2-2.9 3.6-3.6A2.54 2.54 0 0 0 4.56 2zM1 4.56c0 1.07.47 2.03 1.22 2.68A7.01 7.01 0 0 0 9 16v-1a6 6 0 1 1 6-6h1c0-.6-.08-1.2-.22-1.76a3.55 3.55 0 1 0-5.02-5.02 7.01 7.01 0 0 0-3.52 0A3.55 3.55 0 0 0 1 4.56zm10.81-1.97c1.6.7 2.9 2 3.6 3.6a2.56 2.56 0 0 0-3.6-3.6zM9 5v4H6v1h4V5H9zm4 8v-3h1v3h3v1h-3v3h-1v-3h-3v-1h3z"></path></svg></span>
                                </button>
                                <button title="Export data"
                                        class="apply-common-tooltip light-button-bYDQcOkp no-content-bYDQcOkp with-start-icon-bYDQcOkp variant-ghost-bYDQcOkp color-gray-bYDQcOkp size-small-bYDQcOkp typography-regular16px-bYDQcOkp disable-active-state-styles-bYDQcOkp"
                                        style="--ui-lib-light-button-content-max-lines:1;"><span class="icon-bYDQcOkp"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" width="18" height="18"><path
                                        fill="currentColor"
                                        d="M9 4.09V11h1V4.09l2.67 2.29.66-.76-3.5-3-.33-.28-.33.28-3.5 3 .66.76L9 4.08ZM4 14v-3H3v3a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-3h-1v3H4Z"></path></svg></span>
                                </button>
                            </div>
                        </div>
                        <div class="deepHistoryContainer-zf0MHBzY"></div>
                        <div class="historyParams-zf0MHBzY i-hidden">
                            <div class="container-pBnggzT8">
                                <div>
                                    <div>
                                        <div>
                                            <div class="pickerInput-P2cJzZdH">
                                                <div class="container-PNiXwSz6"><span
                                                        class="container-WDZ0PRNh container-small-WDZ0PRNh intent-default-WDZ0PRNh border-thin-WDZ0PRNh size-small-WDZ0PRNh adjust-position-WDZ0PRNh first-row-WDZ0PRNh first-col-WDZ0PRNh date-PNiXwSz6"
                                                        tabindex="0"><span
                                                        class="inner-slot-W53jtLjw inner-middle-slot-W53jtLjw"><input
                                                        tabindex="-1"
                                                        class="input-RUSovanF size-small-RUSovanF with-end-slot-RUSovanF"
                                                        value="2022-05-12"></span><span
                                                        class="inner-slot-W53jtLjw icon-W53jtLjw"><span
                                                        class="icon-PNiXwSz6"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                   viewBox="0 0 28 28" width="28"
                                                                                   height="28" fill="none"><path
                                                        fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M10 4h1v2h6V4h1v2h2.5A2.5 2.5 0 0 1 23 8.5v11a2.5 2.5 0 0 1-2.5 2.5h-13A2.5 2.5 0 0 1 5 19.5v-11A2.5 2.5 0 0 1 7.5 6H10V4zm8 3H7.5C6.67 7 6 7.67 6 8.5v11c0 .83.67 1.5 1.5 1.5h13c.83 0 1.5-.67 1.5-1.5v-11c0-.83-.67-1.5-1.5-1.5H18zm-3 2h-2v2h2V9zm-7 4h2v2H8v-2zm12-4h-2v2h2V9zm-7 4h2v2h-2v-2zm-3 4H8v2h2v-2zm3 0h2v2h-2v-2zm7-4h-2v2h2v-2z"></path></svg></span></span><span
                                                        class="highlight-WDZ0PRNh"></span></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="separator-pBnggzT8">—</div>
                                <div>
                                    <div>
                                        <div>
                                            <div class="pickerInput-P2cJzZdH">
                                                <div class="container-PNiXwSz6"><span
                                                        class="container-WDZ0PRNh container-small-WDZ0PRNh intent-default-WDZ0PRNh border-thin-WDZ0PRNh size-small-WDZ0PRNh adjust-position-WDZ0PRNh first-row-WDZ0PRNh first-col-WDZ0PRNh date-PNiXwSz6"
                                                        tabindex="0"><span
                                                        class="inner-slot-W53jtLjw inner-middle-slot-W53jtLjw"><input
                                                        tabindex="-1"
                                                        class="input-RUSovanF size-small-RUSovanF with-end-slot-RUSovanF"
                                                        value="2022-12-30"></span><span
                                                        class="inner-slot-W53jtLjw icon-W53jtLjw"><span
                                                        class="icon-PNiXwSz6"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                   viewBox="0 0 28 28" width="28"
                                                                                   height="28" fill="none"><path
                                                        fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M10 4h1v2h6V4h1v2h2.5A2.5 2.5 0 0 1 23 8.5v11a2.5 2.5 0 0 1-2.5 2.5h-13A2.5 2.5 0 0 1 5 19.5v-11A2.5 2.5 0 0 1 7.5 6H10V4zm8 3H7.5C6.67 7 6 7.67 6 8.5v11c0 .83.67 1.5 1.5 1.5h13c.83 0 1.5-.67 1.5-1.5v-11c0-.83-.67-1.5-1.5-1.5H18zm-3 2h-2v2h2V9zm-7 4h2v2H8v-2zm12-4h-2v2h2V9zm-7 4h2v2h-2v-2zm-3 4H8v2h2v-2zm3 0h2v2h-2v-2zm7-4h-2v2h2v-2z"></path></svg></span></span><span
                                                        class="highlight-WDZ0PRNh"></span></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="generateReportBtn-zf0MHBzY button-D4RPB3ZC size-small-D4RPB3ZC color-brand-D4RPB3ZC variant-primary-D4RPB3ZC">
                                <span class="content-D4RPB3ZC">Generate report</span></button>
                        </div>
                    </div>
                    <div class="tabSwitcherContainer-ZBt9GezT tabSwitcherContainer-xsmall-ZBt9GezT tabsContainer-zf0MHBzY">
                        <div class="wrapOverflow-wXGVFOC9">
                            <div class="wrap-wXGVFOC9">
                                <div class="scrollWrap-wXGVFOC9 noScrollBar-wXGVFOC9">
                                    <div class="tabSwitcher-ZBt9GezT tabSwitcher-xsmall-ZBt9GezT">
                                        <button type="button"
                                                class="tab-button-ZBt9GezT tab-ZBt9GezT tab-xsmall-ZBt9GezT disable-active-state-styles-ZBt9GezT tabNoOutline-zf0MHBzY">
                                            Overview
                                        </button>
                                        <button type="button"
                                                class="tab-button-ZBt9GezT tab-ZBt9GezT activeTab-ZBt9GezT tab-xsmall-ZBt9GezT disable-active-state-styles-ZBt9GezT tabNoOutline-zf0MHBzY">
                                            Performance Summary
                                        </button>
                                        <button type="button"
                                                class="tab-button-ZBt9GezT tab-ZBt9GezT tab-xsmall-ZBt9GezT disable-active-state-styles-ZBt9GezT tabNoOutline-zf0MHBzY">
                                            List of Trades
                                        </button>
                                        <button type="button"
                                                class="tab-button-ZBt9GezT tab-ZBt9GezT tab-xsmall-ZBt9GezT disable-active-state-styles-ZBt9GezT tabNoOutline-zf0MHBzY">
                                            Properties
                                        </button>
                                    </div>
                                </div>
                                <button tabindex="-1"
                                        class="scroll-button-ZBt9GezT scroll-button-xsmall-ZBt9GezT left-ZBt9GezT"><span
                                        class="arrow-icon-ZBt9GezT"><svg xmlns="http://www.w3.org/2000/svg" width="13"
                                                                         height="14" fill="none"><path
                                        stroke="currentColor" stroke-linecap="round" stroke-width="2"
                                        d="M5.5 1.5l5 5.5-5 5.5"></path></svg></span></button>
                                <button tabindex="-1"
                                        class="scroll-button-ZBt9GezT scroll-button-xsmall-ZBt9GezT right-ZBt9GezT">
                                    <span class="arrow-icon-ZBt9GezT"><svg xmlns="http://www.w3.org/2000/svg" width="13"
                                                                           height="14" fill="none"><path
                                            stroke="currentColor" stroke-linecap="round" stroke-width="2"
                                            d="M5.5 1.5l5 5.5-5 5.5"></path></svg></span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="backtesting-content-wrapper widgetContainer-_qqQIz_4">
                    <div class="reportContainer-fu2S4cdI">
                        <div class="ka root-a4wW8zoD">
                            <div class="ka-table-wrapper " style="overflow: visible;">
                                <table class="ka-table " data-selector="table">
                                    <thead class="ka-thead">
                                    <tr class="ka-tr ka-thead-row">
                                        <th class="ka-thead-cell ka-thead-background  headCell-a4wW8zoD" scope="col">
                                            <div class="ka-thead-cell-wrapper">
                                                <div class="ka-thead-cell-content-wrapper">
                                                    <div class="ka-thead-cell-content "><span>Title</span></div>
                                                </div>
                                            </div>
                                        </th>
                                        <th class="ka-thead-cell ka-thead-background  headCell-a4wW8zoD" scope="col">
                                            <div class="ka-thead-cell-wrapper">
                                                <div class="ka-thead-cell-content-wrapper">
                                                    <div class="ka-thead-cell-content "><span>All</span></div>
                                                </div>
                                            </div>
                                        </th>
                                        <th class="ka-thead-cell ka-thead-background  headCell-a4wW8zoD" scope="col">
                                            <div class="ka-thead-cell-wrapper">
                                                <div class="ka-thead-cell-content-wrapper">
                                                    <div class="ka-thead-cell-content "><span>Long</span></div>
                                                </div>
                                            </div>
                                        </th>
                                        <th class="ka-thead-cell ka-thead-background  headCell-a4wW8zoD" scope="col">
                                            <div class="ka-thead-cell-wrapper">
                                                <div class="ka-thead-cell-content-wrapper">
                                                    <div class="ka-thead-cell-content "><span>Short</span></div>
                                                </div>
                                            </div>
                                        </th>
                                        <th class="ka-thead-cell ka-thead-background  headCell-a4wW8zoD" scope="col">
                                            <div class="ka-thead-cell-wrapper">
                                                <div class="ka-thead-cell-content-wrapper">
                                                    <div class="ka-thead-cell-content "><span></span></div>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="ka-tbody">
                                    <tr class="ka-tr ka-row  row-a4wW8zoD">
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div class="titleContainer-a4wW8zoD">
                                                <div class="apply-overflow-tooltip title-a4wW8zoD noWrapped-a4wW8zoD">
                                                    Net Profit
                                                </div>
                                                <a href="/support/solutions/43000681684"
                                                   class="solution-a4wW8zoD icon-wrapper-EZuD3gZZ intent-default-EZuD3gZZ with-tooltip-EZuD3gZZ apply-common-tooltip"
                                                   title="Show description" aria-label="Show description"
                                                   tabindex="0"><span aria-hidden="true" class="icon-EZuD3gZZ"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"
                                                        width="18" height="18"><path fill="currentColor"
                                                                                     d="M9 17A8 8 0 1 0 9 1a8 8 0 0 0 0 16Zm0-3a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM6 7.5a3 3 0 1 1 6 0c0 .96-.6 1.48-1.17 1.98-.55.48-1.08.95-1.08 1.77h-1.5c0-1.37.7-1.9 1.33-2.38.49-.38.92-.71.92-1.37C10.5 6.67 9.82 6 9 6s-1.5.67-1.5 1.5H6Z"></path></svg></span></a>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">1&nbsp;867.87 EUR</div>
                                                <div class="percentValue-a4wW8zoD">18.68%</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">1&nbsp;083.71 EUR</div>
                                                <div class="percentValue-a4wW8zoD">10.84%</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">784.15 EUR</div>
                                                <div class="percentValue-a4wW8zoD">7.84%</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                    </tr>
                                    <tr class="ka-tr ka-row  row-a4wW8zoD">
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div class="titleContainer-a4wW8zoD">
                                                <div class="apply-overflow-tooltip title-a4wW8zoD noWrapped-a4wW8zoD">
                                                    Gross Profit
                                                </div>
                                                <a href="/support/solutions/43000681686"
                                                   class="solution-a4wW8zoD icon-wrapper-EZuD3gZZ intent-default-EZuD3gZZ with-tooltip-EZuD3gZZ apply-common-tooltip"
                                                   title="Show description" aria-label="Show description"
                                                   tabindex="0"><span aria-hidden="true" class="icon-EZuD3gZZ"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"
                                                        width="18" height="18"><path fill="currentColor"
                                                                                     d="M9 17A8 8 0 1 0 9 1a8 8 0 0 0 0 16Zm0-3a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM6 7.5a3 3 0 1 1 6 0c0 .96-.6 1.48-1.17 1.98-.55.48-1.08.95-1.08 1.77h-1.5c0-1.37.7-1.9 1.33-2.38.49-.38.92-.71.92-1.37C10.5 6.67 9.82 6 9 6s-1.5.67-1.5 1.5H6Z"></path></svg></span></a>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">3&nbsp;407.40 EUR</div>
                                                <div class="percentValue-a4wW8zoD">34.07%</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">1&nbsp;880.76 EUR</div>
                                                <div class="percentValue-a4wW8zoD">18.81%</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">1&nbsp;526.63 EUR</div>
                                                <div class="percentValue-a4wW8zoD">15.27%</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                    </tr>
                                    <tr class="ka-tr ka-row  row-a4wW8zoD">
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div class="titleContainer-a4wW8zoD">
                                                <div class="apply-overflow-tooltip title-a4wW8zoD noWrapped-a4wW8zoD">
                                                    Gross Loss
                                                </div>
                                                <a href="/support/solutions/43000681688"
                                                   class="solution-a4wW8zoD icon-wrapper-EZuD3gZZ intent-default-EZuD3gZZ with-tooltip-EZuD3gZZ apply-common-tooltip"
                                                   title="Show description" aria-label="Show description"
                                                   tabindex="0"><span aria-hidden="true" class="icon-EZuD3gZZ"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"
                                                        width="18" height="18"><path fill="currentColor"
                                                                                     d="M9 17A8 8 0 1 0 9 1a8 8 0 0 0 0 16Zm0-3a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM6 7.5a3 3 0 1 1 6 0c0 .96-.6 1.48-1.17 1.98-.55.48-1.08.95-1.08 1.77h-1.5c0-1.37.7-1.9 1.33-2.38.49-.38.92-.71.92-1.37C10.5 6.67 9.82 6 9 6s-1.5.67-1.5 1.5H6Z"></path></svg></span></a>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">1&nbsp;539.53 EUR</div>
                                                <div class="percentValue-a4wW8zoD">15.4%</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">797.05 EUR</div>
                                                <div class="percentValue-a4wW8zoD">7.97%</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">742.48 EUR</div>
                                                <div class="percentValue-a4wW8zoD">7.42%</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                    </tr>
                                    <tr class="ka-tr ka-row  row-a4wW8zoD">
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div class="titleContainer-a4wW8zoD">
                                                <div class="apply-overflow-tooltip title-a4wW8zoD noWrapped-a4wW8zoD">
                                                    Max Run-up
                                                </div>
                                                <a href="/support/solutions/43000682585"
                                                   class="solution-a4wW8zoD icon-wrapper-EZuD3gZZ intent-default-EZuD3gZZ with-tooltip-EZuD3gZZ apply-common-tooltip"
                                                   title="Show description" aria-label="Show description"
                                                   tabindex="0"><span aria-hidden="true" class="icon-EZuD3gZZ"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"
                                                        width="18" height="18"><path fill="currentColor"
                                                                                     d="M9 17A8 8 0 1 0 9 1a8 8 0 0 0 0 16Zm0-3a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM6 7.5a3 3 0 1 1 6 0c0 .96-.6 1.48-1.17 1.98-.55.48-1.08.95-1.08 1.77h-1.5c0-1.37.7-1.9 1.33-2.38.49-.38.92-.71.92-1.37C10.5 6.67 9.82 6 9 6s-1.5.67-1.5 1.5H6Z"></path></svg></span></a>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">2&nbsp;129.20 EUR</div>
                                                <div class="percentValue-a4wW8zoD">17.93%</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                    </tr>
                                    <tr class="ka-tr ka-row  row-a4wW8zoD">
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div class="titleContainer-a4wW8zoD">
                                                <div class="apply-overflow-tooltip title-a4wW8zoD noWrapped-a4wW8zoD">
                                                    Max Drawdown
                                                </div>
                                                <a href="/support/solutions/43000681690"
                                                   class="solution-a4wW8zoD icon-wrapper-EZuD3gZZ intent-default-EZuD3gZZ with-tooltip-EZuD3gZZ apply-common-tooltip"
                                                   title="Show description" aria-label="Show description"
                                                   tabindex="0"><span aria-hidden="true" class="icon-EZuD3gZZ"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"
                                                        width="18" height="18"><path fill="currentColor"
                                                                                     d="M9 17A8 8 0 1 0 9 1a8 8 0 0 0 0 16Zm0-3a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM6 7.5a3 3 0 1 1 6 0c0 .96-.6 1.48-1.17 1.98-.55.48-1.08.95-1.08 1.77h-1.5c0-1.37.7-1.9 1.33-2.38.49-.38.92-.71.92-1.37C10.5 6.67 9.82 6 9 6s-1.5.67-1.5 1.5H6Z"></path></svg></span></a>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">281.87 EUR</div>
                                                <div class="percentValue-a4wW8zoD">2.76%</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                    </tr>
                                    <tr class="ka-tr ka-row  row-a4wW8zoD">
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div class="titleContainer-a4wW8zoD">
                                                <div class="apply-overflow-tooltip title-a4wW8zoD noWrapped-a4wW8zoD">
                                                    Buy &amp; Hold Return
                                                </div>
                                                <a href="/support/solutions/43000681691"
                                                   class="solution-a4wW8zoD icon-wrapper-EZuD3gZZ intent-default-EZuD3gZZ with-tooltip-EZuD3gZZ apply-common-tooltip"
                                                   title="Show description" aria-label="Show description"
                                                   tabindex="0"><span aria-hidden="true" class="icon-EZuD3gZZ"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"
                                                        width="18" height="18"><path fill="currentColor"
                                                                                     d="M9 17A8 8 0 1 0 9 1a8 8 0 0 0 0 16Zm0-3a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM6 7.5a3 3 0 1 1 6 0c0 .96-.6 1.48-1.17 1.98-.55.48-1.08.95-1.08 1.77h-1.5c0-1.37.7-1.9 1.33-2.38.49-.38.92-.71.92-1.37C10.5 6.67 9.82 6 9 6s-1.5.67-1.5 1.5H6Z"></path></svg></span></a>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">1&nbsp;159.75 EUR</div>
                                                <div class="percentValue-a4wW8zoD">11.6%</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                    </tr>
                                    <tr class="ka-tr ka-row  row-a4wW8zoD">
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div class="titleContainer-a4wW8zoD">
                                                <div class="apply-overflow-tooltip title-a4wW8zoD noWrapped-a4wW8zoD">
                                                    Sharpe Ratio
                                                </div>
                                                <a href="/support/solutions/43000681694"
                                                   class="solution-a4wW8zoD icon-wrapper-EZuD3gZZ intent-default-EZuD3gZZ with-tooltip-EZuD3gZZ apply-common-tooltip"
                                                   title="Show description" aria-label="Show description"
                                                   tabindex="0"><span aria-hidden="true" class="icon-EZuD3gZZ"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"
                                                        width="18" height="18"><path fill="currentColor"
                                                                                     d="M9 17A8 8 0 1 0 9 1a8 8 0 0 0 0 16Zm0-3a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM6 7.5a3 3 0 1 1 6 0c0 .96-.6 1.48-1.17 1.98-.55.48-1.08.95-1.08 1.77h-1.5c0-1.37.7-1.9 1.33-2.38.49-.38.92-.71.92-1.37C10.5 6.67 9.82 6 9 6s-1.5.67-1.5 1.5H6Z"></path></svg></span></a>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">0.357</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                    </tr>
                                    <tr class="ka-tr ka-row  row-a4wW8zoD">
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div class="titleContainer-a4wW8zoD">
                                                <div class="apply-overflow-tooltip title-a4wW8zoD noWrapped-a4wW8zoD">
                                                    Sortino Ratio
                                                </div>
                                                <a href="/support/solutions/43000681697"
                                                   class="solution-a4wW8zoD icon-wrapper-EZuD3gZZ intent-default-EZuD3gZZ with-tooltip-EZuD3gZZ apply-common-tooltip"
                                                   title="Show description" aria-label="Show description"
                                                   tabindex="0"><span aria-hidden="true" class="icon-EZuD3gZZ"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"
                                                        width="18" height="18"><path fill="currentColor"
                                                                                     d="M9 17A8 8 0 1 0 9 1a8 8 0 0 0 0 16Zm0-3a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM6 7.5a3 3 0 1 1 6 0c0 .96-.6 1.48-1.17 1.98-.55.48-1.08.95-1.08 1.77h-1.5c0-1.37.7-1.9 1.33-2.38.49-.38.92-.71.92-1.37C10.5 6.67 9.82 6 9 6s-1.5.67-1.5 1.5H6Z"></path></svg></span></a>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">1.116</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                    </tr>
                                    <tr class="ka-tr ka-row  row-a4wW8zoD">
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div class="titleContainer-a4wW8zoD">
                                                <div class="apply-overflow-tooltip title-a4wW8zoD noWrapped-a4wW8zoD">
                                                    Profit Factor
                                                </div>
                                                <a href="/support/solutions/43000681698"
                                                   class="solution-a4wW8zoD icon-wrapper-EZuD3gZZ intent-default-EZuD3gZZ with-tooltip-EZuD3gZZ apply-common-tooltip"
                                                   title="Show description" aria-label="Show description"
                                                   tabindex="0"><span aria-hidden="true" class="icon-EZuD3gZZ"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"
                                                        width="18" height="18"><path fill="currentColor"
                                                                                     d="M9 17A8 8 0 1 0 9 1a8 8 0 0 0 0 16Zm0-3a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM6 7.5a3 3 0 1 1 6 0c0 .96-.6 1.48-1.17 1.98-.55.48-1.08.95-1.08 1.77h-1.5c0-1.37.7-1.9 1.33-2.38.49-.38.92-.71.92-1.37C10.5 6.67 9.82 6 9 6s-1.5.67-1.5 1.5H6Z"></path></svg></span></a>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">2.213</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">2.36</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">2.056</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                    </tr>
                                    <tr class="ka-tr ka-row  row-a4wW8zoD">
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div class="titleContainer-a4wW8zoD">
                                                <div class="apply-overflow-tooltip title-a4wW8zoD noWrapped-a4wW8zoD">
                                                    Max Contracts Held
                                                </div>
                                                <a href="/support/solutions/43000681700"
                                                   class="solution-a4wW8zoD icon-wrapper-EZuD3gZZ intent-default-EZuD3gZZ with-tooltip-EZuD3gZZ apply-common-tooltip"
                                                   title="Show description" aria-label="Show description"
                                                   tabindex="0"><span aria-hidden="true" class="icon-EZuD3gZZ"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"
                                                        width="18" height="18"><path fill="currentColor"
                                                                                     d="M9 17A8 8 0 1 0 9 1a8 8 0 0 0 0 16Zm0-3a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM6 7.5a3 3 0 1 1 6 0c0 .96-.6 1.48-1.17 1.98-.55.48-1.08.95-1.08 1.77h-1.5c0-1.37.7-1.9 1.33-2.38.49-.38.92-.71.92-1.37C10.5 6.67 9.82 6 9 6s-1.5.67-1.5 1.5H6Z"></path></svg></span></a>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">28</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">28</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">28</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                    </tr>
                                    <tr class="ka-tr ka-row  row-a4wW8zoD">
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div class="titleContainer-a4wW8zoD">
                                                <div class="apply-overflow-tooltip title-a4wW8zoD noWrapped-a4wW8zoD">
                                                    Open PL
                                                </div>
                                                <a href="/support/solutions/43000681701"
                                                   class="solution-a4wW8zoD icon-wrapper-EZuD3gZZ intent-default-EZuD3gZZ with-tooltip-EZuD3gZZ apply-common-tooltip"
                                                   title="Show description" aria-label="Show description"
                                                   tabindex="0"><span aria-hidden="true" class="icon-EZuD3gZZ"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"
                                                        width="18" height="18"><path fill="currentColor"
                                                                                     d="M9 17A8 8 0 1 0 9 1a8 8 0 0 0 0 16Zm0-3a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM6 7.5a3 3 0 1 1 6 0c0 .96-.6 1.48-1.17 1.98-.55.48-1.08.95-1.08 1.77h-1.5c0-1.37.7-1.9 1.33-2.38.49-.38.92-.71.92-1.37C10.5 6.67 9.82 6 9 6s-1.5.67-1.5 1.5H6Z"></path></svg></span></a>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">0.00 EUR</div>
                                                <div class="percentValue-a4wW8zoD">0%</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                    </tr>
                                    <tr class="ka-tr ka-row  row-a4wW8zoD">
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div class="titleContainer-a4wW8zoD">
                                                <div class="apply-overflow-tooltip title-a4wW8zoD noWrapped-a4wW8zoD">
                                                    Commission Paid
                                                </div>
                                                <a href="/support/solutions/43000681703"
                                                   class="solution-a4wW8zoD icon-wrapper-EZuD3gZZ intent-default-EZuD3gZZ with-tooltip-EZuD3gZZ apply-common-tooltip"
                                                   title="Show description" aria-label="Show description"
                                                   tabindex="0"><span aria-hidden="true" class="icon-EZuD3gZZ"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"
                                                        width="18" height="18"><path fill="currentColor"
                                                                                     d="M9 17A8 8 0 1 0 9 1a8 8 0 0 0 0 16Zm0-3a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM6 7.5a3 3 0 1 1 6 0c0 .96-.6 1.48-1.17 1.98-.55.48-1.08.95-1.08 1.77h-1.5c0-1.37.7-1.9 1.33-2.38.49-.38.92-.71.92-1.37C10.5 6.67 9.82 6 9 6s-1.5.67-1.5 1.5H6Z"></path></svg></span></a>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">0.00 EUR</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">0.00 EUR</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">0.00 EUR</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                    </tr>
                                    <tr class="ka-tr ka-row  row-a4wW8zoD">
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div class="titleContainer-a4wW8zoD">
                                                <div class="apply-overflow-tooltip title-a4wW8zoD noWrapped-a4wW8zoD">
                                                    Total Closed Trades
                                                </div>
                                                <a href="/support/solutions/43000681704"
                                                   class="solution-a4wW8zoD icon-wrapper-EZuD3gZZ intent-default-EZuD3gZZ with-tooltip-EZuD3gZZ apply-common-tooltip"
                                                   title="Show description" aria-label="Show description"
                                                   tabindex="0"><span aria-hidden="true" class="icon-EZuD3gZZ"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"
                                                        width="18" height="18"><path fill="currentColor"
                                                                                     d="M9 17A8 8 0 1 0 9 1a8 8 0 0 0 0 16Zm0-3a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM6 7.5a3 3 0 1 1 6 0c0 .96-.6 1.48-1.17 1.98-.55.48-1.08.95-1.08 1.77h-1.5c0-1.37.7-1.9 1.33-2.38.49-.38.92-.71.92-1.37C10.5 6.67 9.82 6 9 6s-1.5.67-1.5 1.5H6Z"></path></svg></span></a>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">78</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">43</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">35</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                    </tr>
                                    <tr class="ka-tr ka-row  row-a4wW8zoD">
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div class="titleContainer-a4wW8zoD">
                                                <div class="apply-overflow-tooltip title-a4wW8zoD noWrapped-a4wW8zoD">
                                                    Total Open Trades
                                                </div>
                                                <a href="/support/solutions/43000681711"
                                                   class="solution-a4wW8zoD icon-wrapper-EZuD3gZZ intent-default-EZuD3gZZ with-tooltip-EZuD3gZZ apply-common-tooltip"
                                                   title="Show description" aria-label="Show description"
                                                   tabindex="0"><span aria-hidden="true" class="icon-EZuD3gZZ"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"
                                                        width="18" height="18"><path fill="currentColor"
                                                                                     d="M9 17A8 8 0 1 0 9 1a8 8 0 0 0 0 16Zm0-3a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM6 7.5a3 3 0 1 1 6 0c0 .96-.6 1.48-1.17 1.98-.55.48-1.08.95-1.08 1.77h-1.5c0-1.37.7-1.9 1.33-2.38.49-.38.92-.71.92-1.37C10.5 6.67 9.82 6 9 6s-1.5.67-1.5 1.5H6Z"></path></svg></span></a>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">0</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">0</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">0</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                    </tr>
                                    <tr class="ka-tr ka-row  row-a4wW8zoD">
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div class="titleContainer-a4wW8zoD">
                                                <div class="apply-overflow-tooltip title-a4wW8zoD noWrapped-a4wW8zoD">
                                                    Number Winning Trades
                                                </div>
                                                <a href="/support/solutions/43000681712"
                                                   class="solution-a4wW8zoD icon-wrapper-EZuD3gZZ intent-default-EZuD3gZZ with-tooltip-EZuD3gZZ apply-common-tooltip"
                                                   title="Show description" aria-label="Show description"
                                                   tabindex="0"><span aria-hidden="true" class="icon-EZuD3gZZ"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"
                                                        width="18" height="18"><path fill="currentColor"
                                                                                     d="M9 17A8 8 0 1 0 9 1a8 8 0 0 0 0 16Zm0-3a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM6 7.5a3 3 0 1 1 6 0c0 .96-.6 1.48-1.17 1.98-.55.48-1.08.95-1.08 1.77h-1.5c0-1.37.7-1.9 1.33-2.38.49-.38.92-.71.92-1.37C10.5 6.67 9.82 6 9 6s-1.5.67-1.5 1.5H6Z"></path></svg></span></a>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">36</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">22</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">14</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                    </tr>
                                    <tr class="ka-tr ka-row  row-a4wW8zoD">
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div class="titleContainer-a4wW8zoD">
                                                <div class="apply-overflow-tooltip title-a4wW8zoD noWrapped-a4wW8zoD">
                                                    Number Losing Trades
                                                </div>
                                                <a href="/support/solutions/43000681713"
                                                   class="solution-a4wW8zoD icon-wrapper-EZuD3gZZ intent-default-EZuD3gZZ with-tooltip-EZuD3gZZ apply-common-tooltip"
                                                   title="Show description" aria-label="Show description"
                                                   tabindex="0"><span aria-hidden="true" class="icon-EZuD3gZZ"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"
                                                        width="18" height="18"><path fill="currentColor"
                                                                                     d="M9 17A8 8 0 1 0 9 1a8 8 0 0 0 0 16Zm0-3a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM6 7.5a3 3 0 1 1 6 0c0 .96-.6 1.48-1.17 1.98-.55.48-1.08.95-1.08 1.77h-1.5c0-1.37.7-1.9 1.33-2.38.49-.38.92-.71.92-1.37C10.5 6.67 9.82 6 9 6s-1.5.67-1.5 1.5H6Z"></path></svg></span></a>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">42</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">21</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">21</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                    </tr>
                                    <tr class="ka-tr ka-row  row-a4wW8zoD">
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div class="titleContainer-a4wW8zoD">
                                                <div class="apply-overflow-tooltip title-a4wW8zoD noWrapped-a4wW8zoD">
                                                    Percent Profitable
                                                </div>
                                                <a href="/support/solutions/43000681714"
                                                   class="solution-a4wW8zoD icon-wrapper-EZuD3gZZ intent-default-EZuD3gZZ with-tooltip-EZuD3gZZ apply-common-tooltip"
                                                   title="Show description" aria-label="Show description"
                                                   tabindex="0"><span aria-hidden="true" class="icon-EZuD3gZZ"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"
                                                        width="18" height="18"><path fill="currentColor"
                                                                                     d="M9 17A8 8 0 1 0 9 1a8 8 0 0 0 0 16Zm0-3a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM6 7.5a3 3 0 1 1 6 0c0 .96-.6 1.48-1.17 1.98-.55.48-1.08.95-1.08 1.77h-1.5c0-1.37.7-1.9 1.33-2.38.49-.38.92-.71.92-1.37C10.5 6.67 9.82 6 9 6s-1.5.67-1.5 1.5H6Z"></path></svg></span></a>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="percentValue-a4wW8zoD">46.15%</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="percentValue-a4wW8zoD">51.16%</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="percentValue-a4wW8zoD">40%</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                    </tr>
                                    <tr class="ka-tr ka-row  row-a4wW8zoD">
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div class="titleContainer-a4wW8zoD">
                                                <div class="apply-overflow-tooltip title-a4wW8zoD noWrapped-a4wW8zoD">
                                                    Avg Trade
                                                </div>
                                                <a href="/support/solutions/43000681715"
                                                   class="solution-a4wW8zoD icon-wrapper-EZuD3gZZ intent-default-EZuD3gZZ with-tooltip-EZuD3gZZ apply-common-tooltip"
                                                   title="Show description" aria-label="Show description"
                                                   tabindex="0"><span aria-hidden="true" class="icon-EZuD3gZZ"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"
                                                        width="18" height="18"><path fill="currentColor"
                                                                                     d="M9 17A8 8 0 1 0 9 1a8 8 0 0 0 0 16Zm0-3a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM6 7.5a3 3 0 1 1 6 0c0 .96-.6 1.48-1.17 1.98-.55.48-1.08.95-1.08 1.77h-1.5c0-1.37.7-1.9 1.33-2.38.49-.38.92-.71.92-1.37C10.5 6.67 9.82 6 9 6s-1.5.67-1.5 1.5H6Z"></path></svg></span></a>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">23.95 EUR</div>
                                                <div class="percentValue-a4wW8zoD">0.23%</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">25.20 EUR</div>
                                                <div class="percentValue-a4wW8zoD">0.24%</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">22.40 EUR</div>
                                                <div class="percentValue-a4wW8zoD">0.21%</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                    </tr>
                                    <tr class="ka-tr ka-row  row-a4wW8zoD">
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div class="titleContainer-a4wW8zoD">
                                                <div class="apply-overflow-tooltip title-a4wW8zoD noWrapped-a4wW8zoD">
                                                    Avg Winning Trade
                                                </div>
                                                <a href="/support/solutions/43000681717"
                                                   class="solution-a4wW8zoD icon-wrapper-EZuD3gZZ intent-default-EZuD3gZZ with-tooltip-EZuD3gZZ apply-common-tooltip"
                                                   title="Show description" aria-label="Show description"
                                                   tabindex="0"><span aria-hidden="true" class="icon-EZuD3gZZ"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"
                                                        width="18" height="18"><path fill="currentColor"
                                                                                     d="M9 17A8 8 0 1 0 9 1a8 8 0 0 0 0 16Zm0-3a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM6 7.5a3 3 0 1 1 6 0c0 .96-.6 1.48-1.17 1.98-.55.48-1.08.95-1.08 1.77h-1.5c0-1.37.7-1.9 1.33-2.38.49-.38.92-.71.92-1.37C10.5 6.67 9.82 6 9 6s-1.5.67-1.5 1.5H6Z"></path></svg></span></a>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">94.65 EUR</div>
                                                <div class="percentValue-a4wW8zoD">0.92%</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">85.49 EUR</div>
                                                <div class="percentValue-a4wW8zoD">0.83%</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">109.05 EUR</div>
                                                <div class="percentValue-a4wW8zoD">1.06%</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                    </tr>
                                    <tr class="ka-tr ka-row  row-a4wW8zoD">
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div class="titleContainer-a4wW8zoD">
                                                <div class="apply-overflow-tooltip title-a4wW8zoD noWrapped-a4wW8zoD">
                                                    Avg Losing Trade
                                                </div>
                                                <a href="/support/solutions/43000681718"
                                                   class="solution-a4wW8zoD icon-wrapper-EZuD3gZZ intent-default-EZuD3gZZ with-tooltip-EZuD3gZZ apply-common-tooltip"
                                                   title="Show description" aria-label="Show description"
                                                   tabindex="0"><span aria-hidden="true" class="icon-EZuD3gZZ"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"
                                                        width="18" height="18"><path fill="currentColor"
                                                                                     d="M9 17A8 8 0 1 0 9 1a8 8 0 0 0 0 16Zm0-3a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM6 7.5a3 3 0 1 1 6 0c0 .96-.6 1.48-1.17 1.98-.55.48-1.08.95-1.08 1.77h-1.5c0-1.37.7-1.9 1.33-2.38.49-.38.92-.71.92-1.37C10.5 6.67 9.82 6 9 6s-1.5.67-1.5 1.5H6Z"></path></svg></span></a>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">36.66 EUR</div>
                                                <div class="percentValue-a4wW8zoD">0.37%</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">37.95 EUR</div>
                                                <div class="percentValue-a4wW8zoD">0.38%</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">35.36 EUR</div>
                                                <div class="percentValue-a4wW8zoD">0.36%</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                    </tr>
                                    <tr class="ka-tr ka-row  row-a4wW8zoD">
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div class="titleContainer-a4wW8zoD">
                                                <div class="apply-overflow-tooltip title-a4wW8zoD noWrapped-a4wW8zoD">
                                                    Ratio Avg Win / Avg Loss
                                                </div>
                                                <a href="/support/solutions/43000681719"
                                                   class="solution-a4wW8zoD icon-wrapper-EZuD3gZZ intent-default-EZuD3gZZ with-tooltip-EZuD3gZZ apply-common-tooltip"
                                                   title="Show description" aria-label="Show description"
                                                   tabindex="0"><span aria-hidden="true" class="icon-EZuD3gZZ"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"
                                                        width="18" height="18"><path fill="currentColor"
                                                                                     d="M9 17A8 8 0 1 0 9 1a8 8 0 0 0 0 16Zm0-3a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM6 7.5a3 3 0 1 1 6 0c0 .96-.6 1.48-1.17 1.98-.55.48-1.08.95-1.08 1.77h-1.5c0-1.37.7-1.9 1.33-2.38.49-.38.92-.71.92-1.37C10.5 6.67 9.82 6 9 6s-1.5.67-1.5 1.5H6Z"></path></svg></span></a>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">2.582</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">2.252</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">3.084</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                    </tr>
                                    <tr class="ka-tr ka-row  row-a4wW8zoD">
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div class="titleContainer-a4wW8zoD">
                                                <div class="apply-overflow-tooltip title-a4wW8zoD noWrapped-a4wW8zoD">
                                                    Largest Winning Trade
                                                </div>
                                                <a href="/support/solutions/43000681720"
                                                   class="solution-a4wW8zoD icon-wrapper-EZuD3gZZ intent-default-EZuD3gZZ with-tooltip-EZuD3gZZ apply-common-tooltip"
                                                   title="Show description" aria-label="Show description"
                                                   tabindex="0"><span aria-hidden="true" class="icon-EZuD3gZZ"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"
                                                        width="18" height="18"><path fill="currentColor"
                                                                                     d="M9 17A8 8 0 1 0 9 1a8 8 0 0 0 0 16Zm0-3a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM6 7.5a3 3 0 1 1 6 0c0 .96-.6 1.48-1.17 1.98-.55.48-1.08.95-1.08 1.77h-1.5c0-1.37.7-1.9 1.33-2.38.49-.38.92-.71.92-1.37C10.5 6.67 9.82 6 9 6s-1.5.67-1.5 1.5H6Z"></path></svg></span></a>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">490.33 EUR</div>
                                                <div class="percentValue-a4wW8zoD">4.83%</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">205.23 EUR</div>
                                                <div class="percentValue-a4wW8zoD">2.12%</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">490.33 EUR</div>
                                                <div class="percentValue-a4wW8zoD">4.83%</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                    </tr>
                                    <tr class="ka-tr ka-row  row-a4wW8zoD">
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div class="titleContainer-a4wW8zoD">
                                                <div class="apply-overflow-tooltip title-a4wW8zoD noWrapped-a4wW8zoD">
                                                    Largest Losing Trade
                                                </div>
                                                <a href="/support/solutions/43000681722"
                                                   class="solution-a4wW8zoD icon-wrapper-EZuD3gZZ intent-default-EZuD3gZZ with-tooltip-EZuD3gZZ apply-common-tooltip"
                                                   title="Show description" aria-label="Show description"
                                                   tabindex="0"><span aria-hidden="true" class="icon-EZuD3gZZ"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"
                                                        width="18" height="18"><path fill="currentColor"
                                                                                     d="M9 17A8 8 0 1 0 9 1a8 8 0 0 0 0 16Zm0-3a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM6 7.5a3 3 0 1 1 6 0c0 .96-.6 1.48-1.17 1.98-.55.48-1.08.95-1.08 1.77h-1.5c0-1.37.7-1.9 1.33-2.38.49-.38.92-.71.92-1.37C10.5 6.67 9.82 6 9 6s-1.5.67-1.5 1.5H6Z"></path></svg></span></a>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">84.20 EUR</div>
                                                <div class="percentValue-a4wW8zoD">0.86%</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">84.20 EUR</div>
                                                <div class="percentValue-a4wW8zoD">0.86%</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">64.99 EUR</div>
                                                <div class="percentValue-a4wW8zoD">0.66%</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                    </tr>
                                    <tr class="ka-tr ka-row  row-a4wW8zoD">
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div class="titleContainer-a4wW8zoD">
                                                <div class="apply-overflow-tooltip title-a4wW8zoD noWrapped-a4wW8zoD">
                                                    Avg # Bars in Trades
                                                </div>
                                                <a href="/support/solutions/43000681723"
                                                   class="solution-a4wW8zoD icon-wrapper-EZuD3gZZ intent-default-EZuD3gZZ with-tooltip-EZuD3gZZ apply-common-tooltip"
                                                   title="Show description" aria-label="Show description"
                                                   tabindex="0"><span aria-hidden="true" class="icon-EZuD3gZZ"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"
                                                        width="18" height="18"><path fill="currentColor"
                                                                                     d="M9 17A8 8 0 1 0 9 1a8 8 0 0 0 0 16Zm0-3a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM6 7.5a3 3 0 1 1 6 0c0 .96-.6 1.48-1.17 1.98-.55.48-1.08.95-1.08 1.77h-1.5c0-1.37.7-1.9 1.33-2.38.49-.38.92-.71.92-1.37C10.5 6.67 9.82 6 9 6s-1.5.67-1.5 1.5H6Z"></path></svg></span></a>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">52</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">57</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">46</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                    </tr>
                                    <tr class="ka-tr ka-row  row-a4wW8zoD">
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div class="titleContainer-a4wW8zoD">
                                                <div class="apply-overflow-tooltip title-a4wW8zoD noWrapped-a4wW8zoD">
                                                    Avg # Bars in Winning Trades
                                                </div>
                                                <a href="/support/solutions/43000681725"
                                                   class="solution-a4wW8zoD icon-wrapper-EZuD3gZZ intent-default-EZuD3gZZ with-tooltip-EZuD3gZZ apply-common-tooltip"
                                                   title="Show description" aria-label="Show description"
                                                   tabindex="0"><span aria-hidden="true" class="icon-EZuD3gZZ"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"
                                                        width="18" height="18"><path fill="currentColor"
                                                                                     d="M9 17A8 8 0 1 0 9 1a8 8 0 0 0 0 16Zm0-3a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM6 7.5a3 3 0 1 1 6 0c0 .96-.6 1.48-1.17 1.98-.55.48-1.08.95-1.08 1.77h-1.5c0-1.37.7-1.9 1.33-2.38.49-.38.92-.71.92-1.37C10.5 6.67 9.82 6 9 6s-1.5.67-1.5 1.5H6Z"></path></svg></span></a>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">77</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">82</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">69</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                    </tr>
                                    <tr class="ka-tr ka-row  row-a4wW8zoD">
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div class="titleContainer-a4wW8zoD">
                                                <div class="apply-overflow-tooltip title-a4wW8zoD noWrapped-a4wW8zoD">
                                                    Avg # Bars in Losing Trades
                                                </div>
                                                <a href="/support/solutions/43000681726"
                                                   class="solution-a4wW8zoD icon-wrapper-EZuD3gZZ intent-default-EZuD3gZZ with-tooltip-EZuD3gZZ apply-common-tooltip"
                                                   title="Show description" aria-label="Show description"
                                                   tabindex="0"><span aria-hidden="true" class="icon-EZuD3gZZ"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"
                                                        width="18" height="18"><path fill="currentColor"
                                                                                     d="M9 17A8 8 0 1 0 9 1a8 8 0 0 0 0 16Zm0-3a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM6 7.5a3 3 0 1 1 6 0c0 .96-.6 1.48-1.17 1.98-.55.48-1.08.95-1.08 1.77h-1.5c0-1.37.7-1.9 1.33-2.38.49-.38.92-.71.92-1.37C10.5 6.67 9.82 6 9 6s-1.5.67-1.5 1.5H6Z"></path></svg></span></a>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">31</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">31</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">31</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                    </tr>
                                    <tr class="ka-tr ka-row  row-a4wW8zoD">
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div class="titleContainer-a4wW8zoD">
                                                <div class="apply-overflow-tooltip title-a4wW8zoD noWrapped-a4wW8zoD">
                                                    Margin Calls
                                                </div>
                                                <a href="/support/solutions/43000681727"
                                                   class="solution-a4wW8zoD icon-wrapper-EZuD3gZZ intent-default-EZuD3gZZ with-tooltip-EZuD3gZZ apply-common-tooltip"
                                                   title="Show description" aria-label="Show description"
                                                   tabindex="0"><span aria-hidden="true" class="icon-EZuD3gZZ"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"
                                                        width="18" height="18"><path fill="currentColor"
                                                                                     d="M9 17A8 8 0 1 0 9 1a8 8 0 0 0 0 16Zm0-3a1 1 0 1 1 0-2 1 1 0 0 1 0 2ZM6 7.5a3 3 0 1 1 6 0c0 .96-.6 1.48-1.17 1.98-.55.48-1.08.95-1.08 1.77h-1.5c0-1.37.7-1.9 1.33-2.38.49-.38.92-.71.92-1.37C10.5 6.67 9.82 6 9 6s-1.5.67-1.5 1.5H6Z"></path></svg></span></a>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">0</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">0</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD">
                                            <div>
                                                <div class="">0</div>
                                            </div>
                                        </td>
                                        <td class="ka-cell  cell-a4wW8zoD"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="backtesting-content-wrapper widgetContainer-dU2ga07h hidden-dU2ga07h"></div>
                <div class="backtestingWarningContainer-pF2GLGzv"></div>
            </div>
        </div>
    </div>
</div>
