<div id="overlap-manager-root" style="position: absolute; z-index: 150; top: 0px; left: 0px;">
    <div data-id="a162c486-f108-45ca-8de6-c194edf80256" style="position: fixed; z-index: 18;">
        <div data-outside-boundary-for="indicator-properties-dialog">
            <div class="dialog-qyCw0PaN dialog-b8SxMnzX dialog-aRAWUDhF rounded-aRAWUDhF shadowed-aRAWUDhF"
                 tabindex="-1"
                 style="z-index: 150; height: 490px; top: 0px; left: 0px; transform: translate(760px, 20px);">
                <div class="wrapper-b8SxMnzX" data-name="indicator-properties-dialog"
                     data-dialog-name="Khanhdeux Strategy">
                    <div class="container-BZKENkhT">
                        <div data-dragg-area="true" class="title-BZKENkhT">
                            <div class="ellipsis-BZKENkhT">Khanhdeux Strategy</div>
                        </div>
                        <button class="close-BZKENkhT" data-name="close" type="button"><span class="icon-BZKENkhT"
                                                                                             data-name="close"
                                                                                             data-role="button"><svg
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17" width="17" height="17"
                                fill="currentColor"><path d="m.58 1.42.82-.82 15 15-.82.82z"></path><path
                                d="m.58 15.58 15-15 .82.82-15 15z"></path></svg></span></button>
                    </div>
                    <div class="tabs-vwgPOHG8">
                        <div class="scroll-wrap-SmxgjhBJ size-small-SmxgjhBJ" data-name="underline-tabs-buttons">
                            <div id="id_indicator-properties-dialog-tabs_tablist" role="tablist"
                                 aria-orientation="horizontal" class="underline-tabs-SmxgjhBJ">
                                <button id="inputs" role="tab" tabindex="0" aria-selected="true"
                                        data-id="indicator-properties-dialog-tabs-inputs"
                                        class="underline-tab-cfYYXvwA size-small-cfYYXvwA selected-cfYYXvwA">Inputs
                                </button>
                                <button id="properties" role="tab" tabindex="-1" aria-selected="false"
                                        data-id="indicator-properties-dialog-tabs-properties"
                                        class="underline-tab-cfYYXvwA size-small-cfYYXvwA">Properties
                                </button>
                                <button id="style" role="tab" tabindex="-1" aria-selected="false"
                                        data-id="indicator-properties-dialog-tabs-style"
                                        class="underline-tab-cfYYXvwA size-small-cfYYXvwA">Style
                                </button>
                                <button id="visibilities" role="tab" tabindex="-1" aria-selected="false"
                                        data-id="indicator-properties-dialog-tabs-visibilities"
                                        class="underline-tab-cfYYXvwA size-small-cfYYXvwA">Visibility
                                </button>
                                <button aria-hidden="true" tabindex="-1"
                                        class="underline-tab-cfYYXvwA size-small-cfYYXvwA fake-cfYYXvwA">More<span
                                        class="arrow-icon-NIrWNOPk size-small-NIrWNOPk"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" width="18" height="18"><path
                                        fill="currentColor"
                                        d="M5.5 6.44a.75.75 0 1 0-1 1.12l1-1.12zM9 10.5l-.5.56c.29.25.71.25 1 0L9 10.5zm4.5-2.94a.75.75 0 0 0-1-1.12l1 1.12zm-9 0l4 3.5 1-1.12-4-3.5-1 1.12zm5 3.5l4-3.5-1-1.12-4 3.5 1 1.12z"></path></svg></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="scrollable-vwgPOHG8">
                        <div class="content-tBgV1m0B">
                            <div class="titleWrap-Izz3hpJc">
                                <div data-section-name="Backtest Time Period"
                                     class="cell-tBgV1m0B adaptive-tBgV1m0B checkableTitle-tBgV1m0B fill-tBgV1m0B">
                                    <div class="inner-tBgV1m0B titleWrap-SexRbl__">
                                        <div class="wrap-Q2NZ0gvI title-SexRbl__"><span class="title-FG0u1J5p">Backtest Time Period</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cell-tBgV1m0B topCenter-tBgV1m0B first-tBgV1m0B">
                                <div class="inner-tBgV1m0B">Start Date</div>
                            </div>
                            <div class="cell-tBgV1m0B">
                                <div class="inner-tBgV1m0B">
                                    <div class="container-QyF09i7Y">
                                        <div class="datePickerWrapper-QyF09i7Y">
                                            <div>
                                                <div class="pickerInput-P2cJzZdH">
                                                    <div class="container-PNiXwSz6"><span
                                                            class="container-WDZ0PRNh container-small-WDZ0PRNh intent-default-WDZ0PRNh border-thin-WDZ0PRNh size-small-WDZ0PRNh adjust-position-WDZ0PRNh first-row-WDZ0PRNh first-col-WDZ0PRNh date-PNiXwSz6"
                                                            tabindex="0"><span
                                                            class="inner-slot-W53jtLjw inner-middle-slot-W53jtLjw"><input
                                                            tabindex="-1"
                                                            class="input-RUSovanF size-small-RUSovanF with-end-slot-RUSovanF"
                                                            value="2021-01-01"></span><span
                                                            class="inner-slot-W53jtLjw icon-W53jtLjw"><span
                                                            class="icon-PNiXwSz6"><svg
                                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"
                                                            width="28" height="28" fill="none"><path fill="currentColor"
                                                                                                     fill-rule="evenodd"
                                                                                                     clip-rule="evenodd"
                                                                                                     d="M10 4h1v2h6V4h1v2h2.5A2.5 2.5 0 0 1 23 8.5v11a2.5 2.5 0 0 1-2.5 2.5h-13A2.5 2.5 0 0 1 5 19.5v-11A2.5 2.5 0 0 1 7.5 6H10V4zm8 3H7.5C6.67 7 6 7.67 6 8.5v11c0 .83.67 1.5 1.5 1.5h13c.83 0 1.5-.67 1.5-1.5v-11c0-.83-.67-1.5-1.5-1.5H18zm-3 2h-2v2h2V9zm-7 4h2v2H8v-2zm12-4h-2v2h2V9zm-7 4h2v2h-2v-2zm-3 4H8v2h2v-2zm3 0h2v2h-2v-2zm7-4h-2v2h2v-2z"></path></svg></span></span><span
                                                            class="highlight-WDZ0PRNh"></span></span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timePickerWrapper-QyF09i7Y">
                                            <div class=""><span
                                                    class="container-WDZ0PRNh container-small-WDZ0PRNh intent-default-WDZ0PRNh border-thin-WDZ0PRNh size-small-WDZ0PRNh adjust-position-WDZ0PRNh first-row-WDZ0PRNh first-col-WDZ0PRNh"
                                                    tabindex="0"><span
                                                    class="inner-slot-W53jtLjw inner-middle-slot-W53jtLjw"><input
                                                    tabindex="-1" autocomplete="off" maxlength="5"
                                                    class="input-RUSovanF size-small-RUSovanF with-end-slot-RUSovanF"
                                                    value="01:00"></span><span
                                                    class="inner-slot-W53jtLjw interactive-W53jtLjw icon-W53jtLjw"><span
                                                    class="icon-Rubz29lH"><svg xmlns="http://www.w3.org/2000/svg"
                                                                               viewBox="0 0 17 17" width="17"
                                                                               height="17"><path fill="currentColor"
                                                                                                 d="M1 8.5a7.5 7.5 0 1 1 15 0 7.5 7.5 0 0 1-15 0zM8.5 0a8.5 8.5 0 1 0 0 17 8.5 8.5 0 0 0 0-17zM9 9V3H8v5H5v1h4z"></path></svg></span></span><span
                                                    class="highlight-WDZ0PRNh"></span></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cell-tBgV1m0B topCenter-tBgV1m0B first-tBgV1m0B">
                                <div class="inner-tBgV1m0B">End Date</div>
                            </div>
                            <div class="cell-tBgV1m0B">
                                <div class="inner-tBgV1m0B">
                                    <div class="container-QyF09i7Y">
                                        <div class="datePickerWrapper-QyF09i7Y">
                                            <div>
                                                <div class="pickerInput-P2cJzZdH">
                                                    <div class="container-PNiXwSz6"><span
                                                            class="container-WDZ0PRNh container-small-WDZ0PRNh intent-default-WDZ0PRNh border-thin-WDZ0PRNh size-small-WDZ0PRNh adjust-position-WDZ0PRNh first-row-WDZ0PRNh first-col-WDZ0PRNh date-PNiXwSz6"
                                                            tabindex="0"><span
                                                            class="inner-slot-W53jtLjw inner-middle-slot-W53jtLjw"><input
                                                            tabindex="-1"
                                                            class="input-RUSovanF size-small-RUSovanF with-end-slot-RUSovanF"
                                                            value="2023-12-31"></span><span
                                                            class="inner-slot-W53jtLjw icon-W53jtLjw"><span
                                                            class="icon-PNiXwSz6"><svg
                                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"
                                                            width="28" height="28" fill="none"><path fill="currentColor"
                                                                                                     fill-rule="evenodd"
                                                                                                     clip-rule="evenodd"
                                                                                                     d="M10 4h1v2h6V4h1v2h2.5A2.5 2.5 0 0 1 23 8.5v11a2.5 2.5 0 0 1-2.5 2.5h-13A2.5 2.5 0 0 1 5 19.5v-11A2.5 2.5 0 0 1 7.5 6H10V4zm8 3H7.5C6.67 7 6 7.67 6 8.5v11c0 .83.67 1.5 1.5 1.5h13c.83 0 1.5-.67 1.5-1.5v-11c0-.83-.67-1.5-1.5-1.5H18zm-3 2h-2v2h2V9zm-7 4h2v2H8v-2zm12-4h-2v2h2V9zm-7 4h2v2h-2v-2zm-3 4H8v2h2v-2zm3 0h2v2h-2v-2zm7-4h-2v2h2v-2z"></path></svg></span></span><span
                                                            class="highlight-WDZ0PRNh"></span></span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timePickerWrapper-QyF09i7Y">
                                            <div class=""><span
                                                    class="container-WDZ0PRNh container-small-WDZ0PRNh intent-default-WDZ0PRNh border-thin-WDZ0PRNh size-small-WDZ0PRNh adjust-position-WDZ0PRNh first-row-WDZ0PRNh first-col-WDZ0PRNh"
                                                    tabindex="0"><span
                                                    class="inner-slot-W53jtLjw inner-middle-slot-W53jtLjw"><input
                                                    tabindex="-1" autocomplete="off" maxlength="5"
                                                    class="input-RUSovanF size-small-RUSovanF with-end-slot-RUSovanF"
                                                    value="01:00"></span><span
                                                    class="inner-slot-W53jtLjw interactive-W53jtLjw icon-W53jtLjw"><span
                                                    class="icon-Rubz29lH"><svg xmlns="http://www.w3.org/2000/svg"
                                                                               viewBox="0 0 17 17" width="17"
                                                                               height="17"><path fill="currentColor"
                                                                                                 d="M1 8.5a7.5 7.5 0 1 1 15 0 7.5 7.5 0 0 1-15 0zM8.5 0a8.5 8.5 0 1 0 0 17 8.5 8.5 0 0 0 0-17zM9 9V3H8v5H5v1h4z"></path></svg></span></span><span
                                                    class="highlight-WDZ0PRNh"></span></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="groupFooter-Izz3hpJc"></div>
                            <div class="titleWrap-Izz3hpJc">
                                <div data-section-name="Settings"
                                     class="cell-tBgV1m0B adaptive-tBgV1m0B checkableTitle-tBgV1m0B fill-tBgV1m0B">
                                    <div class="inner-tBgV1m0B titleWrap-SexRbl__">
                                        <div class="wrap-Q2NZ0gvI title-SexRbl__"><span
                                                class="title-FG0u1J5p">Settings</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="cell-tBgV1m0B fill-tBgV1m0B">
                                <div class="inner-tBgV1m0B"><label
                                        class="checkbox-ZOx_CVY3 checkbox-vyj6oJxw baseline-vyj6oJxw"><span
                                        class="wrapper-GZajBGIm"><input class="input-GZajBGIm" type="checkbox"
                                                                        value="on" checked=""><span
                                        class="box-GZajBGIm check-GZajBGIm"><span class="icon-GZajBGIm"><svg
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 9" width="11" height="9"
                                        fill="none"><path stroke-width="2"
                                                          d="M0.999878 4L3.99988 7L9.99988 1"></path></svg></span></span></span><span
                                        class="label-vyj6oJxw"><span
                                        class="label-ZOx_CVY3">Show calculation</span></span></label></div>
                            </div>
                            <div class="groupFooter-Izz3hpJc"></div>
                            <div class="titleWrap-Izz3hpJc">
                                <div data-section-name="f_keltner_sma"
                                     class="cell-tBgV1m0B adaptive-tBgV1m0B checkableTitle-tBgV1m0B fill-tBgV1m0B">
                                    <div class="inner-tBgV1m0B titleWrap-SexRbl__">
                                        <div class="wrap-Q2NZ0gvI title-SexRbl__"><span class="title-FG0u1J5p">f_keltner_sma</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cell-tBgV1m0B first-tBgV1m0B">
                                <div class="inner-tBgV1m0B">ks_length</div>
                            </div>
                            <div class="cell-tBgV1m0B">
                                <div class="inner-tBgV1m0B"><span
                                        class="container-WDZ0PRNh container-small-WDZ0PRNh intent-default-WDZ0PRNh border-thin-WDZ0PRNh size-small-WDZ0PRNh adjust-position-WDZ0PRNh first-row-WDZ0PRNh first-col-WDZ0PRNh font-size-medium-WDZ0PRNh input-ZOx_CVY3"
                                        tabindex="0"><span class="inner-slot-W53jtLjw inner-middle-slot-W53jtLjw"><input
                                        tabindex="-1" inputmode="numeric"
                                        class="input-RUSovanF size-small-RUSovanF with-end-slot-RUSovanF"
                                        value="42"></span><span class="inner-slot-W53jtLjw interactive-W53jtLjw"><div
                                        class="controlWrapper-DBTazUk2"></div></span><span
                                        class="highlight-WDZ0PRNh"></span></span></div>
                            </div>
                            <div class="groupFooter-Izz3hpJc"></div>
                            <div class="titleWrap-Izz3hpJc">
                                <div data-section-name="f_breakout_reverse"
                                     class="cell-tBgV1m0B adaptive-tBgV1m0B checkableTitle-tBgV1m0B fill-tBgV1m0B">
                                    <div class="inner-tBgV1m0B titleWrap-SexRbl__">
                                        <div class="wrap-Q2NZ0gvI title-SexRbl__"><span class="title-FG0u1J5p">f_breakout_reverse</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cell-tBgV1m0B first-tBgV1m0B">
                                <div class="inner-tBgV1m0B">br_threshold</div>
                            </div>
                            <div class="cell-tBgV1m0B">
                                <div class="inner-tBgV1m0B"><span
                                        class="container-WDZ0PRNh container-small-WDZ0PRNh intent-default-WDZ0PRNh border-thin-WDZ0PRNh size-small-WDZ0PRNh adjust-position-WDZ0PRNh first-row-WDZ0PRNh first-col-WDZ0PRNh font-size-medium-WDZ0PRNh input-ZOx_CVY3"
                                        tabindex="0"><span class="inner-slot-W53jtLjw inner-middle-slot-W53jtLjw"><input
                                        tabindex="-1" inputmode="numeric"
                                        class="input-RUSovanF size-small-RUSovanF with-end-slot-RUSovanF" value="0.12"></span><span
                                        class="inner-slot-W53jtLjw interactive-W53jtLjw"><div
                                        class="controlWrapper-DBTazUk2"></div></span><span
                                        class="highlight-WDZ0PRNh"></span></span></div>
                            </div>
                            <div class="groupFooter-Izz3hpJc"></div>
                        </div>
                    </div>
                    <div class="footer-PhMf7PhQ"><span id="study-defaults-manager" role="button"
                                                       class="container-WDZ0PRNh container-small-WDZ0PRNh intent-default-WDZ0PRNh border-thin-WDZ0PRNh size-small-WDZ0PRNh adjust-position-WDZ0PRNh first-row-WDZ0PRNh first-col-WDZ0PRNh button-tFul0OhX defaultsButtonText-zcLkuEMM"
                                                       tabindex="0" data-role="listbox" aria-expanded="false"><span
                            class="inner-slot-W53jtLjw inner-middle-slot-W53jtLjw"><span
                            class="button-children-tFul0OhX">Defaults</span></span><span
                            class="inner-slot-W53jtLjw interactive-W53jtLjw"><span class="button-PYEOTd6i"><span
                            class="icon-PYEOTd6i"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" width="18"
                                                       height="18"><path fill="currentColor"
                                                                         d="M5.5 6.44a.75.75 0 1 0-1 1.12l1-1.12zM9 10.5l-.5.56c.29.25.71.25 1 0L9 10.5zm4.5-2.94a.75.75 0 0 0-1-1.12l1 1.12zm-9 0l4 3.5 1-1.12-4-3.5-1 1.12zm5 3.5l4-3.5-1-1.12-4 3.5 1 1.12z"></path></svg></span></span></span><span
                            class="highlight-WDZ0PRNh"></span></span>
                        <div id="daviddImportExport" style="padding-left: 10px;padding-right: 10px"><a id="daviddImport"
                                                                                                       style="cursor: pointer;padding-right: 5px"><i
                                class="davidd_icon davidd_upload"></i></a><a id="daviddExport"
                                                                             style="cursor: pointer;padding-left: 5px;"><i
                                class="davidd_icon davidd_download"></i></a></div>
                        <div class="buttons-PhMf7PhQ">
                            <button name="cancel"
                                    class="button-D4RPB3ZC size-small-D4RPB3ZC color-brand-D4RPB3ZC variant-secondary-D4RPB3ZC">
                                <span class="content-D4RPB3ZC">Cancel</span></button>
                            <span class="submitButton-PhMf7PhQ"><button name="submit" data-name="submit-button"
                                                                        class="button-D4RPB3ZC size-small-D4RPB3ZC color-brand-D4RPB3ZC variant-primary-D4RPB3ZC"><span
                                    class="content-D4RPB3ZC">Ok</span></button></span></div>
                    </div>
                </div>
            </div>
            <div style="position: fixed; z-index: 150; left: 0px; top: 0px;"></div>
        </div>
    </div>
</div>
