<div style="background-color: white; color: black;
width: 800px; height: 800px; position: fixed; top: 50px; right: 0; left: 0;
margin: auto; border: 1px solid lightblue; box-shadow: 3px 3px 7px #777;
align-items: center;  justify-content: left; text-align: left;"><div style="height: 150px; overflow-y: hidden; vertical-align:top;">
    <h1 style="padding: 25px">Strategy parameters</h1>
    <div style="align-content: center"><span style="padding:5px 15px">
  Cycles <input id="stratParamCycles" type="number" value="10" style="width:8em; background: white"> from ~<span id="cyclesAll">47</span></span>
        <button id="stratParamSaveRun" class="davidd-button davidd-button-run">Save&amp;Run</button>
        <button id="stratParamDefRun" class="davidd-button davidd-button-def">Skip&amp;Run</button>
        <button id="stratParamCancel" class="davidd-button davidd-button-close">Cancel</button>
    </div>
</div>
    <div style="height: 640px; overflow-y: auto; vertical-align:top;">
        <table class="stratParamTable">
            <thead><tr><td style="width: 10%"><input type="checkbox" id="stratSelectAll" style="margin-right: 2px; color-scheme: white;"> Active</td><td style="width: 35%">Parameter</td><td>From</td><td>To</td><td>Step</td><td>Default</td><td>Priority</td><td>Condition</td><td>Source</td></tr></thead>
            <tbody id="stratParamData">
            <tr><td><input type="checkbox" checked="true" style="width:1em; color-scheme: white;"></td><td>Br_threshold</td>
                <td><input type="text" value="0.04" style="width:4em; background: white;"></td>
                <td><input type="text" value="0.5" style="width:4em; background: white;"></td>
                <td><input type="number" step="any" value="0.01" style="width:4em; background: white;"></td>
                <td><input type="text" value="0.08" style="width:4em; background: white;"></td>
                <td><input type="number" value="1" style="width:4em; background: white;"></td>
                <td><select style="width:4em; background: white;"><option value="" selected="selected"></option><option value=">=">&gt;=</option><option value="<=">&lt;=</option><option value=">">&gt;</option><option value="<">&lt;</option><option value="=">=</option></select></td>
                <td><select style="width:4em; background: white;"><option value="" selected="selected"></option><option value="Show calculation">Show calculation</option><option value="Ks_length">Ks_length</option></select></td></tr>
            <tr><td><input type="checkbox" style="width:1em; color-scheme: white;"></td><td>Show calculation</td>
                <td><input type="text" value="true" style="width:4em; background: white;" disabled=""></td>
                <td><input type="text" value="false" style="width:4em; background: white;" disabled=""></td>
                <td><input type="number" step="any" value="0" style="width:4em; background: white;" disabled=""></td>
                <td><input type="text" value="true" style="width:4em; background: white;"></td>
                <td><input type="number" value="1" style="width:4em; background: white;"></td>
                <td><select style="width:4em; background: white;"><option value="" selected="selected"></option><option value=">=">&gt;=</option><option value="<=">&lt;=</option><option value=">">&gt;</option><option value="<">&lt;</option><option value="=">=</option></select></td>
                <td><select style="width:4em; background: white;"><option value="" selected="selected"></option><option value="Br_threshold">Br_threshold</option><option value="Ks_length">Ks_length</option></select></td></tr>
            <tr><td><input type="checkbox" style="width:1em; color-scheme: white;"></td><td>Ks_length</td>
                <td><input type="text" value="21" style="width:4em; background: white;"></td>
                <td><input type="text" value="84" style="width:4em; background: white;"></td>
                <td><input type="number" step="any" value="6" style="width:4em; background: white;"></td>
                <td><input type="text" value="42" style="width:4em; background: white;"></td>
                <td><input type="number" value="2" style="width:4em; background: white;"></td>
                <td><select style="width:4em; background: white;"><option value="" selected="selected"></option><option value=">=">&gt;=</option><option value="<=">&lt;=</option><option value=">">&gt;</option><option value="<">&lt;</option><option value="=">=</option></select></td>
                <td><select style="width:4em; background: white;"><option value="" selected="selected"></option><option value="Br_threshold">Br_threshold</option><option value="Show calculation">Show calculation</option></select></td></tr></tbody>
        </table></div></div>
