<div class="layout__area--top" style="position: absolute; top: 0px; left: 52px; width: 1868px; height: 38px;">
    <div class="toolbar-qqNP9X6e">
        <div class="overflowWrap-qqNP9X6e">
            <div class="inner-OhqNVIYA fake-OhqNVIYA" data-is-fake-main-panel="true" aria-hidden="true" role="toolbar">
                <div class="wrapOverflow-wXGVFOC9">
                    <div class="wrap-wXGVFOC9">
                        <div class="scrollWrap-wXGVFOC9 noScrollBar-wXGVFOC9">
                            <div class="content-OhqNVIYA" role="none">
                                <div class="innerWrap-OhqNVIYA">
                                    <div class="separatorWrap-MBOVGQRI">
                                        <div class="separator-xVhBjD5m separator-MBOVGQRI"></div>
                                    </div>
                                    <div class="group-MBOVGQRI">
                                        <button aria-label="Symbol Search" tabindex="-1" type="button"
                                                class="uppercase-cq__ntSC button-GwQQdU8S button-cq__ntSC apply-common-tooltip isInteractive-GwQQdU8S accessible-GwQQdU8S"
                                                data-tooltip="Symbol Search"><span class="icon-GwQQdU8S"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" width="18"
                                                height="18"><path fill="currentColor"
                                                                  d="M3.5 8a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM8 2a6 6 0 1 0 3.65 10.76l3.58 3.58 1.06-1.06-3.57-3.57A6 6 0 0 0 8 2Z"></path></svg></span>
                                            <div class="js-button-text text-GwQQdU8S text-cq__ntSC">NVDA</div>
                                        </button>
                                        <button aria-label="Compare or Add Symbol" tabindex="-1" type="button"
                                                class="button-OhqNVIYA button-ptpAHg8E withoutText-ptpAHg8E button-GwQQdU8S apply-common-tooltip isInteractive-GwQQdU8S accessible-GwQQdU8S"
                                                data-tooltip="Compare or Add Symbol"><span class="icon-GwQQdU8S"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="28"
                                                height="28"><path fill="currentColor"
                                                                  d="M13.5 6a8.5 8.5 0 1 0 0 17 8.5 8.5 0 0 0 0-17zM4 14.5a9.5 9.5 0 1 1 19 0 9.5 9.5 0 0 1-19 0z"></path><path
                                                fill="currentColor"
                                                d="M9 14h4v-4h1v4h4v1h-4v4h-1v-4H9v-1z"></path></svg></span></button>
                                    </div>
                                    <div class="separatorWrap-MBOVGQRI">
                                        <div class="separator-xVhBjD5m separator-MBOVGQRI"></div>
                                    </div>
                                    <div class="group-MBOVGQRI">
                                        <div class="wrap-n5bmFxyX">
                                            <button type="button"
                                                    class="menu-S_1OCXUK button-merBkM5y apply-common-tooltip accessible-merBkM5y"
                                                    tabindex="-1" data-tooltip="1 minute" aria-label="1 minute">
                                                <div class="menuContent-S_1OCXUK wrap-n5bmFxyX">
                                                    <div class="value-gwXludjS">1m</div>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="separatorWrap-MBOVGQRI">
                                        <div class="separator-xVhBjD5m separator-MBOVGQRI"></div>
                                    </div>
                                    <div class="group-MBOVGQRI">
                                        <div class="wrap-n5bmFxyX">
                                            <button type="button"
                                                    class="menu-b3Cgff6l button-merBkM5y apply-common-tooltip accessible-merBkM5y"
                                                    tabindex="-1" data-tooltip="Hollow candles"
                                                    aria-label="Hollow candles">
                                                <div class="wrap-n5bmFxyX"><span><svg xmlns="http://www.w3.org/2000/svg"
                                                                                      viewBox="0 0 28 28" width="28"
                                                                                      height="28" fill="currentColor"><path
                                                        d="M17 11v6h3v-6h-3zm-.5-1h4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5z"></path><path
                                                        d="M18 7h1v3.5h-1zm0 10.5h1V21h-1z"></path><path
                                                        d="M9 8v11h3V8H9zm-.5-1h4a.5.5 0 0 1 .5.5v12a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5v-12a.5.5 0 0 1 .5-.5z"></path><path
                                                        d="M10 4h1v5h-1zm0 14h1v5h-1zM8.5 9H10v1H8.5zM11 9h1.5v1H11zm-1 1h1v1h-1zm-1.5 1H10v1H8.5zm2.5 0h1.5v1H11zm-1 1h1v1h-1zm-1.5 1H10v1H8.5zm2.5 0h1.5v1H11zm-1 1h1v1h-1zm-1.5 1H10v1H8.5zm2.5 0h1.5v1H11zm-1 1h1v1h-1zm-1.5 1H10v1H8.5zm2.5 0h1.5v1H11z"></path></svg></span>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="separatorWrap-MBOVGQRI">
                                        <div class="separator-xVhBjD5m separator-MBOVGQRI"></div>
                                    </div>
                                    <div class="group-MBOVGQRI">
                                        <div class="wrap-n5bmFxyX">
                                            <button aria-label="Indicators, Metrics &amp; Strategies" data-role="button"
                                                    data-tooltip-hotkey="{&amp;quot;keys&amp;quot;:[&amp;quot;/&amp;quot;],&amp;quot;text&amp;quot;:&amp;quot;{0}&amp;quot;}"
                                                    tabindex="-1" type="button"
                                                    class="button-OhqNVIYA button-ptpAHg8E withText-ptpAHg8E button-GwQQdU8S apply-common-tooltip isInteractive-GwQQdU8S accessible-GwQQdU8S"
                                                    data-name="open-indicators-dialog"
                                                    data-tooltip="Indicators, Metrics &amp; Strategies"><span
                                                    class="icon-GwQQdU8S"><svg xmlns="http://www.w3.org/2000/svg"
                                                                               viewBox="0 0 28 28" width="28"
                                                                               height="28" fill="none"><path
                                                    stroke="currentColor"
                                                    d="M6 12l4.8-4.8a1 1 0 0 1 1.4 0l2.7 2.7a1 1 0 0 0 1.3.1L23 5"></path><path
                                                    fill="currentColor" fill-rule="evenodd"
                                                    d="M19 12a1 1 0 0 0-1 1v4h-3v-1a1 1 0 0 0-1-1h-3a1 1 0 0 0-1 1v2H7a1 1 0 0 0-1 1v4h17V13a1 1 0 0 0-1-1h-3zm0 10h3v-9h-3v9zm-1 0v-4h-3v4h3zm-4-4.5V22h-3v-6h3v1.5zM10 22v-3H7v3h3z"></path></svg></span>
                                                <div class="js-button-text text-GwQQdU8S">Indicators</div>
                                            </button>
                                            <button type="button"
                                                    class="button-merBkM5y apply-common-tooltip accessible-merBkM5y"
                                                    tabindex="-1" data-name="show-favorite-indicators"
                                                    data-tooltip="Favorites" aria-label="Favorites">
                                                <div class="arrow-merBkM5y">
                                                    <div class="arrowWrap-merBkM5y"><span class="icon-WB2y0EnP"><svg
                                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 8"
                                                            width="16" height="8"><path fill="currentColor"
                                                                                        d="M0 1.475l7.396 6.04.596.485.593-.49L16 1.39 14.807 0 7.393 6.122 8.58 6.12 1.186.08z"></path></svg></span>
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                        <div class="wrap-jiC5bgmi full-jiC5bgmi wrap-n5bmFxyX">
                                            <button type="button"
                                                    class="button-merBkM5y apply-common-tooltip accessible-merBkM5y"
                                                    tabindex="-1" data-tooltip="Indicator Templates"
                                                    aria-label="Indicator Templates">
                                                <div data-role="button"
                                                     class="button-ptpAHg8E withoutText-ptpAHg8E button-GwQQdU8S isInteractive-GwQQdU8S">
                                                    <span class="icon-GwQQdU8S"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                     viewBox="0 0 28 28" width="28"
                                                                                     height="28"><path
                                                            fill="currentColor" fill-rule="evenodd"
                                                            d="M8 7h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1zM6 8c0-1.1.9-2 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2V8zm11-1h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-3a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1zm-2 1c0-1.1.9-2 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-3a2 2 0 0 1-2-2V8zm-4 8H8a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1zm-3-1a2 2 0 0 0-2 2v3c0 1.1.9 2 2 2h3a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2H8zm9 1h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-3a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1zm-2 1c0-1.1.9-2 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-3a2 2 0 0 1-2-2v-3z"></path></svg></span>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="separatorWrap-MBOVGQRI">
                                        <div class="separator-xVhBjD5m separator-MBOVGQRI"></div>
                                    </div>
                                    <div class="group-MBOVGQRI">
                                        <button aria-label="Create Alert"
                                                data-tooltip-hotkey="{&amp;quot;keys&amp;quot;:[&amp;quot;⌥&amp;quot;,&amp;quot;A&amp;quot;],&amp;quot;text&amp;quot;:&amp;quot;{0} + {1}&amp;quot;}"
                                                tabindex="-1" type="button"
                                                class="button-OhqNVIYA button-ptpAHg8E withText-ptpAHg8E button-GwQQdU8S apply-common-tooltip isInteractive-GwQQdU8S accessible-GwQQdU8S"
                                                data-tooltip="Create Alert"><span class="icon-GwQQdU8S"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="28"
                                                height="28"><path fill="currentColor" fill-rule="evenodd"
                                                                  d="M8.5 6a3.5 3.5 0 0 0-2.926 5.422 8.527 8.527 0 0 1 4.848-4.848A3.482 3.482 0 0 0 8.5 6zM4 9.5c0 1.19.463 2.274 1.218 3.079A8.5 8.5 0 0 0 13.5 23h.5v-1h-.5a7.5 7.5 0 1 1 7.5-7.5v.5h1v-.5a8.53 8.53 0 0 0-.218-1.921 4.5 4.5 0 0 0-6.36-6.36 8.527 8.527 0 0 0-3.843-.001A4.5 4.5 0 0 0 4 9.5zm12.578-2.926a8.527 8.527 0 0 1 4.848 4.848 3.5 3.5 0 0 0-4.848-4.848zM13 14V9h1v6h-4v-1h3zm6 6h-4v1h4v4h1v-4h4v-1h-4v-4h-1v4z"></path></svg></span>
                                            <div class="js-button-text text-GwQQdU8S">Alert</div>
                                        </button>
                                        <button aria-label="Bar Replay" aria-pressed="false" tabindex="-1" type="button"
                                                class="button-OhqNVIYA button-ptpAHg8E withText-ptpAHg8E button-GwQQdU8S apply-common-tooltip isInteractive-GwQQdU8S accessible-GwQQdU8S"
                                                data-tooltip="Bar Replay"><span class="icon-GwQQdU8S"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="28"
                                                height="28"><path fill="none" stroke="currentColor"
                                                                  d="M13.5 20V9l-6 5.5 6 5.5zM21.5 20V9l-6 5.5 6 5.5z"></path></svg></span>
                                            <div class="js-button-text text-GwQQdU8S">Replay</div>
                                        </button>
                                    </div>
                                    <div class="separatorWrap-MBOVGQRI">
                                        <div class="separator-xVhBjD5m separator-MBOVGQRI"></div>
                                    </div>
                                    <div class="group-MBOVGQRI">
                                        <div class="wrap-n5bmFxyX">
                                            <button tabindex="-1" type="button"
                                                    class="button-GwQQdU8S apply-common-tooltip isInteractive-GwQQdU8S accessible-GwQQdU8S"
                                                    aria-label="Undo hide Khanhdeux - Buy-Sell Signal"
                                                    data-tooltip-hotkey="{&amp;quot;keys&amp;quot;:[&amp;quot;⌘&amp;quot;,&amp;quot;Z&amp;quot;],&amp;quot;text&amp;quot;:&amp;quot;{0} + {1}&amp;quot;}"
                                                    data-tooltip="Undo hide Khanhdeux - Buy-Sell Signal"><span
                                                    class="icon-GwQQdU8S icon-uMfL97K2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="28"
                                                    height="28"><path fill="currentColor"
                                                                      d="M8.707 13l2.647 2.646-.707.708L6.792 12.5l3.853-3.854.708.708L8.707 12H14.5a5.5 5.5 0 0 1 5.5 5.5V19h-1v-1.5a4.5 4.5 0 0 0-4.5-4.5H8.707z"></path></svg></span>
                                            </button>
                                            <button tabindex="-1" type="button"
                                                    class="button-GwQQdU8S isDisabled-GwQQdU8S accessible-GwQQdU8S"
                                                    disabled=""><span class="icon-GwQQdU8S icon-uMfL97K2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="28"
                                                    height="28"><path fill="currentColor"
                                                                      d="M18.293 13l-2.647 2.646.707.708 3.854-3.854-3.854-3.854-.707.708L18.293 12H12.5A5.5 5.5 0 0 0 7 17.5V19h1v-1.5a4.5 4.5 0 0 1 4.5-4.5h5.793z"></path></svg></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="fill-OhqNVIYA collapse-OhqNVIYA group-MBOVGQRI"></div>
                                    <div class="group-MBOVGQRI">
                                        <button type="button"
                                                class="button-aGeQPIIx button-merBkM5y apply-common-tooltip accessible-merBkM5y"
                                                tabindex="-1" data-tooltip="Select Layout" aria-label="Select Layout">
                                            <span class="icon-aGeQPIIx"><svg xmlns="http://www.w3.org/2000/svg"
                                                                             viewBox="0 0 19 17" width="19" height="17"><path
                                                    fill="currentColor"
                                                    d="M2.5 1C1.67 1 1 1.67 1 2.5v12c0 .83.67 1.5 1.5 1.5h14c.83 0 1.5-.67 1.5-1.5v-12c0-.83-.67-1.5-1.5-1.5h-14ZM0 2.5A2.5 2.5 0 0 1 2.5 0h14A2.5 2.5 0 0 1 19 2.5v12a2.5 2.5 0 0 1-2.5 2.5h-14A2.5 2.5 0 0 1 0 14.5v-12Z"></path></svg></span>
                                        </button>
                                        <div class="wrap-n5bmFxyX">
                                            <div class="wrap-n5bmFxyX">
                                                <button aria-label="Save all charts for all symbols and intervals on your layout"
                                                        data-tooltip-hotkey="{&amp;quot;keys&amp;quot;:[&amp;quot;⌘&amp;quot;,&amp;quot;S&amp;quot;],&amp;quot;text&amp;quot;:&amp;quot;{0} + {1}&amp;quot;}"
                                                        tabindex="-1" type="button"
                                                        class="button-yyMUOAN9 buttonSmallPadding-yyMUOAN9 button-ptpAHg8E withText-ptpAHg8E button-GwQQdU8S button-ZuDkGGhF apply-common-tooltip isInteractive-GwQQdU8S accessible-GwQQdU8S"
                                                        data-tooltip="Save all charts for all symbols and intervals on your layout">
                                                    <div class="js-button-text text-GwQQdU8S">
                                                        <div class="textWrap-yyMUOAN9"><span class="text-yyMUOAN9">Unnamed</span><span
                                                                class="saveString-XVd1Kfjg">Save</span></div>
                                                    </div>
                                                </button>
                                                <button type="button"
                                                        class="button-merBkM5y apply-common-tooltip accessible-merBkM5y"
                                                        tabindex="-1" data-tooltip="Manage layouts"
                                                        aria-label="Manage layouts">
                                                    <div class="arrow-merBkM5y">
                                                        <div class="arrowWrap-merBkM5y"><span class="icon-WB2y0EnP"><svg
                                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 8"
                                                                width="16" height="8"><path fill="currentColor"
                                                                                            d="M0 1.475l7.396 6.04.596.485.593-.49L16 1.39 14.807 0 7.393 6.122 8.58 6.12 1.186.08z"></path></svg></span>
                                                        </div>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="separatorWrap-MBOVGQRI">
                                        <div class="separator-xVhBjD5m separator-MBOVGQRI"></div>
                                    </div>
                                    <div class="group-MBOVGQRI">
                                        <button aria-label="Quick Search"
                                                data-tooltip-hotkey="{&amp;quot;keys&amp;quot;:[&amp;quot;⌘&amp;quot;,&amp;quot;K&amp;quot;],&amp;quot;text&amp;quot;:&amp;quot;{0} + {1}&amp;quot;}"
                                                tabindex="-1" type="button"
                                                class="iconButton-OhqNVIYA button-xNqEcuN2 button-GwQQdU8S apply-common-tooltip isInteractive-GwQQdU8S accessible-GwQQdU8S"
                                                data-tooltip="Quick Search"><span class="icon-GwQQdU8S"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="28"
                                                height="28"><path fill="currentColor"
                                                                  d="M15 11v4l1-1.5 2.33-3.5.67-1h-3V4l-1 1.5L12.67 9 12 10h3v1Zm2-7v4h2a1 1 0 0 1 .83 1.55l-4 6A1 1 0 0 1 14 15v-4h-2a1 1 0 0 1-.83-1.56l4-6A1 1 0 0 1 17 4ZM5 13.5a7.5 7.5 0 0 1 6-7.35v1.02A6.5 6.5 0 1 0 18.98 13h1a7.6 7.6 0 0 1-1.83 5.44l4.7 4.7-.7.71-4.71-4.7A7.5 7.5 0 0 1 5 13.5Z"></path></svg></span>
                                        </button>
                                        <button aria-label="Chart settings" tabindex="-1" type="button"
                                                class="iconButton-OhqNVIYA button-xNqEcuN2 button-GwQQdU8S apply-common-tooltip isInteractive-GwQQdU8S accessible-GwQQdU8S"
                                                data-tooltip="Chart settings"><span class="icon-GwQQdU8S"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="28"
                                                height="28"><g fill="currentColor" fill-rule="evenodd"><path
                                                fill-rule="nonzero"
                                                d="M14 17a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0-1a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"></path><path
                                                d="M5.005 16A1.003 1.003 0 0 1 4 14.992v-1.984A.998.998 0 0 1 5 12h1.252a7.87 7.87 0 0 1 .853-2.06l-.919-.925c-.356-.397-.348-1 .03-1.379l1.42-1.42a1 1 0 0 1 1.416.007l.889.882A7.96 7.96 0 0 1 12 6.253V5c0-.514.46-1 1-1h2c.557 0 1 .44 1 1v1.253a7.96 7.96 0 0 1 2.06.852l.888-.882a1 1 0 0 1 1.416-.006l1.42 1.42a.999.999 0 0 1 .029 1.377s-.4.406-.918.926a7.87 7.87 0 0 1 .853 2.06H23c.557 0 1 .447 1 1.008v1.984A.998.998 0 0 1 23 16h-1.252a7.87 7.87 0 0 1-.853 2.06l.882.888a1 1 0 0 1 .006 1.416l-1.42 1.42a1 1 0 0 1-1.415-.007l-.889-.882a7.96 7.96 0 0 1-2.059.852v1.248c0 .56-.45 1.005-1.008 1.005h-1.984A1.004 1.004 0 0 1 12 22.995v-1.248a7.96 7.96 0 0 1-2.06-.852l-.888.882a1 1 0 0 1-1.416.006l-1.42-1.42a1 1 0 0 1 .007-1.415l.882-.888A7.87 7.87 0 0 1 6.252 16H5.005zm3.378-6.193l-.227.34A6.884 6.884 0 0 0 7.14 12.6l-.082.4H5.005C5.002 13 5 13.664 5 14.992c0 .005.686.008 2.058.008l.082.4c.18.883.52 1.71 1.016 2.453l.227.34-1.45 1.46c-.004.003.466.477 1.41 1.422l1.464-1.458.34.227a6.959 6.959 0 0 0 2.454 1.016l.399.083v2.052c0 .003.664.005 1.992.005.005 0 .008-.686.008-2.057l.399-.083a6.959 6.959 0 0 0 2.454-1.016l.34-.227 1.46 1.45c.003.004.477-.466 1.422-1.41l-1.458-1.464.227-.34A6.884 6.884 0 0 0 20.86 15.4l.082-.4h2.053c.003 0 .005-.664.005-1.992 0-.005-.686-.008-2.058-.008l-.082-.4a6.884 6.884 0 0 0-1.016-2.453l-.227-.34 1.376-1.384.081-.082-1.416-1.416-1.465 1.458-.34-.227a6.959 6.959 0 0 0-2.454-1.016L15 7.057V5c0-.003-.664-.003-1.992 0-.005 0-.008.686-.008 2.057l-.399.083a6.959 6.959 0 0 0-2.454 1.016l-.34.227-1.46-1.45c-.003-.004-.477.466-1.421 1.408l1.457 1.466z"></path></g></svg></span>
                                        </button>
                                        <div class="group-MBOVGQRI">
                                            <button aria-label="Fullscreen mode"
                                                    data-tooltip-hotkey="{&amp;quot;keys&amp;quot;:[&amp;quot;⇧&amp;quot;,&amp;quot;F&amp;quot;],&amp;quot;text&amp;quot;:&amp;quot;{0} + {1}&amp;quot;}"
                                                    tabindex="-1" type="button"
                                                    class="button-xNqEcuN2 button-GwQQdU8S apply-common-tooltip isInteractive-GwQQdU8S accessible-GwQQdU8S"
                                                    data-tooltip="Fullscreen mode"><span class="icon-GwQQdU8S"><svg
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="28"
                                                    height="28"><path fill="currentColor"
                                                                      d="M8.5 6A2.5 2.5 0 0 0 6 8.5V11h1V8.5C7 7.67 7.67 7 8.5 7H11V6H8.5zM6 17v2.5A2.5 2.5 0 0 0 8.5 22H11v-1H8.5A1.5 1.5 0 0 1 7 19.5V17H6zM19.5 7H17V6h2.5A2.5 2.5 0 0 1 22 8.5V11h-1V8.5c0-.83-.67-1.5-1.5-1.5zM22 19.5V17h-1v2.5c0 .83-.67 1.5-1.5 1.5H17v1h2.5a2.5 2.5 0 0 0 2.5-2.5z"></path></svg></span>
                                            </button>
                                        </div>
                                        <button type="button"
                                                class="button-merBkM5y apply-common-tooltip accessible-merBkM5y"
                                                tabindex="-1" data-tooltip="Take a snapshot"
                                                aria-label="Take a snapshot">
                                            <div data-role="button" class="iconButton-OhqNVIYA button-GwQQdU8S"><span
                                                    class="icon-GwQQdU8S"><svg xmlns="http://www.w3.org/2000/svg"
                                                                               width="28" height="28"
                                                                               fill="currentColor"><path
                                                    fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M11.118 6a.5.5 0 0 0-.447.276L9.809 8H5.5A1.5 1.5 0 0 0 4 9.5v10A1.5 1.5 0 0 0 5.5 21h16a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 21.5 8h-4.309l-.862-1.724A.5.5 0 0 0 15.882 6h-4.764zm-1.342-.17A1.5 1.5 0 0 1 11.118 5h4.764a1.5 1.5 0 0 1 1.342.83L17.809 7H21.5A2.5 2.5 0 0 1 24 9.5v10a2.5 2.5 0 0 1-2.5 2.5h-16A2.5 2.5 0 0 1 3 19.5v-10A2.5 2.5 0 0 1 5.5 7h3.691l.585-1.17z"></path><path
                                                    fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M13.5 18a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zm0 1a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9z"></path></svg></span>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="mobilePublish-OhqNVIYA group-MBOVGQRI noRightDecoration-MBOVGQRI">
                                        <div class="container-yRWAMXSg">
                                            <button type="button"
                                                    class="menuWrap-yRWAMXSg accessible-yRWAMXSg button-merBkM5y apply-common-tooltip accessible-merBkM5y"
                                                    tabindex="-1"
                                                    data-tooltip="Share your idea with the trade community"
                                                    aria-label="Share your idea with the trade community">
                                                <div class="publish-chart-button button-yRWAMXSg fillButton-yRWAMXSg publishBtn-yRWAMXSg button-O36zDbH4 variant-round-O36zDbH4 color-blue-O36zDbH4 interactive-O36zDbH4">
                                                    <div class="bg-O36zDbH4">Publish</div>
                                                </div>
                                            </button>
                                            <div class="publish-chart-button button-yRWAMXSg tabletButton-yRWAMXSg apply-common-tooltip button-O36zDbH4 variant-round-O36zDbH4 color-blue-O36zDbH4 interactive-O36zDbH4 iconOnly-O36zDbH4"
                                                 title="Share your idea with the trade community">
                                                <div class="bg-O36zDbH4"><span class="icon-O36zDbH4"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"
                                                        width="18" height="18"><path fill="currentColor"
                                                                                     d="M3 7.63C3 4.52 5.69 2 9 2s6 2.52 6 5.63c0 1.82-.93 3.64-2.4 4.69v2.43c0 .4-.35.75-.8.75H11v.74c0 .42-.34.76-.8.76H7.8a.77.77 0 0 1-.8-.76v-.74h-.8c-.44 0-.8-.34-.8-.75v-2.43A5.88 5.88 0 0 1 3 7.62Zm3.2 4.87v.75h5.6v-.75H6.2Zm5.87-.75a5.14 5.14 0 0 0 2.13-4.13c0-2.69-2.33-4.87-5.2-4.87S3.8 4.93 3.8 7.63c0 1.62.85 3.23 2.13 4.12h6.14ZM6.2 14v.75h5.6V14H6.2Zm1.6 1.5v.75h2.4v-.75H7.8ZM8.6 8v3h.8V8h3.2v-.75H9.4v-3h-.8v3H5.4V8h3.2Z"></path></svg></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inner-OhqNVIYA fake-OhqNVIYA" data-is-fake-main-panel="true" aria-hidden="true" role="toolbar">
                <div class="wrapOverflow-wXGVFOC9">
                    <div class="wrap-wXGVFOC9">
                        <div class="scrollWrap-wXGVFOC9 noScrollBar-wXGVFOC9">
                            <div class="content-OhqNVIYA" role="none">
                                <div class="innerWrap-OhqNVIYA">
                                    <div class="separatorWrap-MBOVGQRI">
                                        <div class="separator-xVhBjD5m separator-MBOVGQRI"></div>
                                    </div>
                                    <div class="group-MBOVGQRI">
                                        <button aria-label="Symbol Search" tabindex="-1" type="button"
                                                class="uppercase-cq__ntSC button-GwQQdU8S button-cq__ntSC apply-common-tooltip isInteractive-GwQQdU8S accessible-GwQQdU8S"
                                                data-tooltip="Symbol Search"><span class="icon-GwQQdU8S"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" width="18"
                                                height="18"><path fill="currentColor"
                                                                  d="M3.5 8a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM8 2a6 6 0 1 0 3.65 10.76l3.58 3.58 1.06-1.06-3.57-3.57A6 6 0 0 0 8 2Z"></path></svg></span>
                                            <div class="js-button-text text-GwQQdU8S text-cq__ntSC">NVDA</div>
                                        </button>
                                        <button aria-label="Compare or Add Symbol" tabindex="-1" type="button"
                                                class="button-OhqNVIYA button-ptpAHg8E withoutText-ptpAHg8E button-GwQQdU8S apply-common-tooltip isInteractive-GwQQdU8S accessible-GwQQdU8S"
                                                data-tooltip="Compare or Add Symbol"><span class="icon-GwQQdU8S"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="28"
                                                height="28"><path fill="currentColor"
                                                                  d="M13.5 6a8.5 8.5 0 1 0 0 17 8.5 8.5 0 0 0 0-17zM4 14.5a9.5 9.5 0 1 1 19 0 9.5 9.5 0 0 1-19 0z"></path><path
                                                fill="currentColor"
                                                d="M9 14h4v-4h1v4h4v1h-4v4h-1v-4H9v-1z"></path></svg></span></button>
                                    </div>
                                    <div class="separatorWrap-MBOVGQRI">
                                        <div class="separator-xVhBjD5m separator-MBOVGQRI"></div>
                                    </div>
                                    <div class="group-MBOVGQRI">
                                        <div class="wrap-n5bmFxyX">
                                            <button type="button"
                                                    class="menu-S_1OCXUK button-merBkM5y apply-common-tooltip accessible-merBkM5y"
                                                    tabindex="-1" data-tooltip="1 minute" aria-label="1 minute">
                                                <div class="menuContent-S_1OCXUK wrap-n5bmFxyX">
                                                    <div class="value-gwXludjS">1m</div>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="separatorWrap-MBOVGQRI">
                                        <div class="separator-xVhBjD5m separator-MBOVGQRI"></div>
                                    </div>
                                    <div class="group-MBOVGQRI">
                                        <div class="wrap-n5bmFxyX">
                                            <button type="button"
                                                    class="menu-b3Cgff6l button-merBkM5y apply-common-tooltip accessible-merBkM5y"
                                                    tabindex="-1" data-tooltip="Hollow candles"
                                                    aria-label="Hollow candles">
                                                <div class="wrap-n5bmFxyX"><span><svg xmlns="http://www.w3.org/2000/svg"
                                                                                      viewBox="0 0 28 28" width="28"
                                                                                      height="28" fill="currentColor"><path
                                                        d="M17 11v6h3v-6h-3zm-.5-1h4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5z"></path><path
                                                        d="M18 7h1v3.5h-1zm0 10.5h1V21h-1z"></path><path
                                                        d="M9 8v11h3V8H9zm-.5-1h4a.5.5 0 0 1 .5.5v12a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5v-12a.5.5 0 0 1 .5-.5z"></path><path
                                                        d="M10 4h1v5h-1zm0 14h1v5h-1zM8.5 9H10v1H8.5zM11 9h1.5v1H11zm-1 1h1v1h-1zm-1.5 1H10v1H8.5zm2.5 0h1.5v1H11zm-1 1h1v1h-1zm-1.5 1H10v1H8.5zm2.5 0h1.5v1H11zm-1 1h1v1h-1zm-1.5 1H10v1H8.5zm2.5 0h1.5v1H11zm-1 1h1v1h-1zm-1.5 1H10v1H8.5zm2.5 0h1.5v1H11z"></path></svg></span>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="separatorWrap-MBOVGQRI">
                                        <div class="separator-xVhBjD5m separator-MBOVGQRI"></div>
                                    </div>
                                    <div class="group-MBOVGQRI">
                                        <div class="wrap-n5bmFxyX">
                                            <button aria-label="Indicators, Metrics &amp; Strategies" data-role="button"
                                                    data-tooltip-hotkey="{&amp;quot;keys&amp;quot;:[&amp;quot;/&amp;quot;],&amp;quot;text&amp;quot;:&amp;quot;{0}&amp;quot;}"
                                                    tabindex="-1" type="button"
                                                    class="button-OhqNVIYA button-ptpAHg8E withoutText-ptpAHg8E button-GwQQdU8S apply-common-tooltip isInteractive-GwQQdU8S accessible-GwQQdU8S"
                                                    data-name="open-indicators-dialog"
                                                    data-tooltip="Indicators, Metrics &amp; Strategies"><span
                                                    class="icon-GwQQdU8S"><svg xmlns="http://www.w3.org/2000/svg"
                                                                               viewBox="0 0 28 28" width="28"
                                                                               height="28" fill="none"><path
                                                    stroke="currentColor"
                                                    d="M6 12l4.8-4.8a1 1 0 0 1 1.4 0l2.7 2.7a1 1 0 0 0 1.3.1L23 5"></path><path
                                                    fill="currentColor" fill-rule="evenodd"
                                                    d="M19 12a1 1 0 0 0-1 1v4h-3v-1a1 1 0 0 0-1-1h-3a1 1 0 0 0-1 1v2H7a1 1 0 0 0-1 1v4h17V13a1 1 0 0 0-1-1h-3zm0 10h3v-9h-3v9zm-1 0v-4h-3v4h3zm-4-4.5V22h-3v-6h3v1.5zM10 22v-3H7v3h3z"></path></svg></span>
                                            </button>
                                            <button type="button"
                                                    class="button-merBkM5y apply-common-tooltip accessible-merBkM5y"
                                                    tabindex="-1" data-name="show-favorite-indicators"
                                                    data-tooltip="Favorites" aria-label="Favorites">
                                                <div class="arrow-merBkM5y">
                                                    <div class="arrowWrap-merBkM5y"><span class="icon-WB2y0EnP"><svg
                                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 8"
                                                            width="16" height="8"><path fill="currentColor"
                                                                                        d="M0 1.475l7.396 6.04.596.485.593-.49L16 1.39 14.807 0 7.393 6.122 8.58 6.12 1.186.08z"></path></svg></span>
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                        <div class="wrap-jiC5bgmi medium-jiC5bgmi wrap-n5bmFxyX">
                                            <button type="button"
                                                    class="button-merBkM5y apply-common-tooltip accessible-merBkM5y"
                                                    tabindex="-1" data-tooltip="Indicator Templates"
                                                    aria-label="Indicator Templates">
                                                <div data-role="button"
                                                     class="button-ptpAHg8E withoutText-ptpAHg8E button-GwQQdU8S isInteractive-GwQQdU8S">
                                                    <span class="icon-GwQQdU8S"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                     viewBox="0 0 28 28" width="28"
                                                                                     height="28"><path
                                                            fill="currentColor" fill-rule="evenodd"
                                                            d="M8 7h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1zM6 8c0-1.1.9-2 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2V8zm11-1h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-3a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1zm-2 1c0-1.1.9-2 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-3a2 2 0 0 1-2-2V8zm-4 8H8a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1zm-3-1a2 2 0 0 0-2 2v3c0 1.1.9 2 2 2h3a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2H8zm9 1h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-3a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1zm-2 1c0-1.1.9-2 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-3a2 2 0 0 1-2-2v-3z"></path></svg></span>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="separatorWrap-MBOVGQRI">
                                        <div class="separator-xVhBjD5m separator-MBOVGQRI"></div>
                                    </div>
                                    <div class="group-MBOVGQRI">
                                        <button aria-label="Create Alert"
                                                data-tooltip-hotkey="{&amp;quot;keys&amp;quot;:[&amp;quot;⌥&amp;quot;,&amp;quot;A&amp;quot;],&amp;quot;text&amp;quot;:&amp;quot;{0} + {1}&amp;quot;}"
                                                tabindex="-1" type="button"
                                                class="button-OhqNVIYA button-ptpAHg8E withoutText-ptpAHg8E button-GwQQdU8S apply-common-tooltip isInteractive-GwQQdU8S accessible-GwQQdU8S"
                                                data-tooltip="Create Alert"><span class="icon-GwQQdU8S"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="28"
                                                height="28"><path fill="currentColor" fill-rule="evenodd"
                                                                  d="M8.5 6a3.5 3.5 0 0 0-2.926 5.422 8.527 8.527 0 0 1 4.848-4.848A3.482 3.482 0 0 0 8.5 6zM4 9.5c0 1.19.463 2.274 1.218 3.079A8.5 8.5 0 0 0 13.5 23h.5v-1h-.5a7.5 7.5 0 1 1 7.5-7.5v.5h1v-.5a8.53 8.53 0 0 0-.218-1.921 4.5 4.5 0 0 0-6.36-6.36 8.527 8.527 0 0 0-3.843-.001A4.5 4.5 0 0 0 4 9.5zm12.578-2.926a8.527 8.527 0 0 1 4.848 4.848 3.5 3.5 0 0 0-4.848-4.848zM13 14V9h1v6h-4v-1h3zm6 6h-4v1h4v4h1v-4h4v-1h-4v-4h-1v4z"></path></svg></span>
                                        </button>
                                        <button aria-label="Bar Replay" aria-pressed="false" tabindex="-1" type="button"
                                                class="button-OhqNVIYA button-ptpAHg8E withoutText-ptpAHg8E button-GwQQdU8S apply-common-tooltip isInteractive-GwQQdU8S accessible-GwQQdU8S"
                                                data-tooltip="Bar Replay"><span class="icon-GwQQdU8S"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="28"
                                                height="28"><path fill="none" stroke="currentColor"
                                                                  d="M13.5 20V9l-6 5.5 6 5.5zM21.5 20V9l-6 5.5 6 5.5z"></path></svg></span>
                                        </button>
                                    </div>
                                    <div class="separatorWrap-MBOVGQRI">
                                        <div class="separator-xVhBjD5m separator-MBOVGQRI"></div>
                                    </div>
                                    <div class="group-MBOVGQRI">
                                        <div class="wrap-n5bmFxyX">
                                            <button tabindex="-1" type="button"
                                                    class="button-GwQQdU8S apply-common-tooltip isInteractive-GwQQdU8S accessible-GwQQdU8S"
                                                    aria-label="Undo hide Khanhdeux - Buy-Sell Signal"
                                                    data-tooltip-hotkey="{&amp;quot;keys&amp;quot;:[&amp;quot;⌘&amp;quot;,&amp;quot;Z&amp;quot;],&amp;quot;text&amp;quot;:&amp;quot;{0} + {1}&amp;quot;}"
                                                    data-tooltip="Undo hide Khanhdeux - Buy-Sell Signal"><span
                                                    class="icon-GwQQdU8S icon-uMfL97K2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="28"
                                                    height="28"><path fill="currentColor"
                                                                      d="M8.707 13l2.647 2.646-.707.708L6.792 12.5l3.853-3.854.708.708L8.707 12H14.5a5.5 5.5 0 0 1 5.5 5.5V19h-1v-1.5a4.5 4.5 0 0 0-4.5-4.5H8.707z"></path></svg></span>
                                            </button>
                                            <button tabindex="-1" type="button"
                                                    class="button-GwQQdU8S isDisabled-GwQQdU8S accessible-GwQQdU8S"
                                                    disabled=""><span class="icon-GwQQdU8S icon-uMfL97K2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="28"
                                                    height="28"><path fill="currentColor"
                                                                      d="M18.293 13l-2.647 2.646.707.708 3.854-3.854-3.854-3.854-.707.708L18.293 12H12.5A5.5 5.5 0 0 0 7 17.5V19h1v-1.5a4.5 4.5 0 0 1 4.5-4.5h5.793z"></path></svg></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="fill-OhqNVIYA collapse-OhqNVIYA group-MBOVGQRI"></div>
                                    <div class="group-MBOVGQRI">
                                        <button type="button"
                                                class="button-aGeQPIIx button-merBkM5y apply-common-tooltip accessible-merBkM5y"
                                                tabindex="-1" data-tooltip="Select Layout" aria-label="Select Layout">
                                            <span class="icon-aGeQPIIx"><svg xmlns="http://www.w3.org/2000/svg"
                                                                             viewBox="0 0 19 17" width="19" height="17"><path
                                                    fill="currentColor"
                                                    d="M2.5 1C1.67 1 1 1.67 1 2.5v12c0 .83.67 1.5 1.5 1.5h14c.83 0 1.5-.67 1.5-1.5v-12c0-.83-.67-1.5-1.5-1.5h-14ZM0 2.5A2.5 2.5 0 0 1 2.5 0h14A2.5 2.5 0 0 1 19 2.5v12a2.5 2.5 0 0 1-2.5 2.5h-14A2.5 2.5 0 0 1 0 14.5v-12Z"></path></svg></span>
                                        </button>
                                        <div class="wrap-n5bmFxyX">
                                            <div class="wrap-n5bmFxyX">
                                                <button aria-label="Save all charts for all symbols and intervals on your layout"
                                                        data-tooltip-hotkey="{&amp;quot;keys&amp;quot;:[&amp;quot;⌘&amp;quot;,&amp;quot;S&amp;quot;],&amp;quot;text&amp;quot;:&amp;quot;{0} + {1}&amp;quot;}"
                                                        tabindex="-1" type="button"
                                                        class="button-yyMUOAN9 buttonSmallPadding-yyMUOAN9 button-ptpAHg8E withText-ptpAHg8E button-GwQQdU8S button-ZuDkGGhF apply-common-tooltip isInteractive-GwQQdU8S accessible-GwQQdU8S"
                                                        data-tooltip="Save all charts for all symbols and intervals on your layout">
                                                    <div class="js-button-text text-GwQQdU8S">
                                                        <div class="textWrap-yyMUOAN9"><span class="text-yyMUOAN9">Unnamed</span><span
                                                                class="saveString-XVd1Kfjg">Save</span></div>
                                                    </div>
                                                </button>
                                                <button type="button"
                                                        class="button-merBkM5y apply-common-tooltip accessible-merBkM5y"
                                                        tabindex="-1" data-tooltip="Manage layouts"
                                                        aria-label="Manage layouts">
                                                    <div class="arrow-merBkM5y">
                                                        <div class="arrowWrap-merBkM5y"><span class="icon-WB2y0EnP"><svg
                                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 8"
                                                                width="16" height="8"><path fill="currentColor"
                                                                                            d="M0 1.475l7.396 6.04.596.485.593-.49L16 1.39 14.807 0 7.393 6.122 8.58 6.12 1.186.08z"></path></svg></span>
                                                        </div>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="separatorWrap-MBOVGQRI">
                                        <div class="separator-xVhBjD5m separator-MBOVGQRI"></div>
                                    </div>
                                    <div class="group-MBOVGQRI">
                                        <button aria-label="Quick Search"
                                                data-tooltip-hotkey="{&amp;quot;keys&amp;quot;:[&amp;quot;⌘&amp;quot;,&amp;quot;K&amp;quot;],&amp;quot;text&amp;quot;:&amp;quot;{0} + {1}&amp;quot;}"
                                                tabindex="-1" type="button"
                                                class="iconButton-OhqNVIYA button-xNqEcuN2 button-GwQQdU8S apply-common-tooltip isInteractive-GwQQdU8S accessible-GwQQdU8S"
                                                data-tooltip="Quick Search"><span class="icon-GwQQdU8S"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="28"
                                                height="28"><path fill="currentColor"
                                                                  d="M15 11v4l1-1.5 2.33-3.5.67-1h-3V4l-1 1.5L12.67 9 12 10h3v1Zm2-7v4h2a1 1 0 0 1 .83 1.55l-4 6A1 1 0 0 1 14 15v-4h-2a1 1 0 0 1-.83-1.56l4-6A1 1 0 0 1 17 4ZM5 13.5a7.5 7.5 0 0 1 6-7.35v1.02A6.5 6.5 0 1 0 18.98 13h1a7.6 7.6 0 0 1-1.83 5.44l4.7 4.7-.7.71-4.71-4.7A7.5 7.5 0 0 1 5 13.5Z"></path></svg></span>
                                        </button>
                                        <button aria-label="Chart settings" tabindex="-1" type="button"
                                                class="iconButton-OhqNVIYA button-xNqEcuN2 button-GwQQdU8S apply-common-tooltip isInteractive-GwQQdU8S accessible-GwQQdU8S"
                                                data-tooltip="Chart settings"><span class="icon-GwQQdU8S"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="28"
                                                height="28"><g fill="currentColor" fill-rule="evenodd"><path
                                                fill-rule="nonzero"
                                                d="M14 17a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0-1a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"></path><path
                                                d="M5.005 16A1.003 1.003 0 0 1 4 14.992v-1.984A.998.998 0 0 1 5 12h1.252a7.87 7.87 0 0 1 .853-2.06l-.919-.925c-.356-.397-.348-1 .03-1.379l1.42-1.42a1 1 0 0 1 1.416.007l.889.882A7.96 7.96 0 0 1 12 6.253V5c0-.514.46-1 1-1h2c.557 0 1 .44 1 1v1.253a7.96 7.96 0 0 1 2.06.852l.888-.882a1 1 0 0 1 1.416-.006l1.42 1.42a.999.999 0 0 1 .029 1.377s-.4.406-.918.926a7.87 7.87 0 0 1 .853 2.06H23c.557 0 1 .447 1 1.008v1.984A.998.998 0 0 1 23 16h-1.252a7.87 7.87 0 0 1-.853 2.06l.882.888a1 1 0 0 1 .006 1.416l-1.42 1.42a1 1 0 0 1-1.415-.007l-.889-.882a7.96 7.96 0 0 1-2.059.852v1.248c0 .56-.45 1.005-1.008 1.005h-1.984A1.004 1.004 0 0 1 12 22.995v-1.248a7.96 7.96 0 0 1-2.06-.852l-.888.882a1 1 0 0 1-1.416.006l-1.42-1.42a1 1 0 0 1 .007-1.415l.882-.888A7.87 7.87 0 0 1 6.252 16H5.005zm3.378-6.193l-.227.34A6.884 6.884 0 0 0 7.14 12.6l-.082.4H5.005C5.002 13 5 13.664 5 14.992c0 .005.686.008 2.058.008l.082.4c.18.883.52 1.71 1.016 2.453l.227.34-1.45 1.46c-.004.003.466.477 1.41 1.422l1.464-1.458.34.227a6.959 6.959 0 0 0 2.454 1.016l.399.083v2.052c0 .003.664.005 1.992.005.005 0 .008-.686.008-2.057l.399-.083a6.959 6.959 0 0 0 2.454-1.016l.34-.227 1.46 1.45c.003.004.477-.466 1.422-1.41l-1.458-1.464.227-.34A6.884 6.884 0 0 0 20.86 15.4l.082-.4h2.053c.003 0 .005-.664.005-1.992 0-.005-.686-.008-2.058-.008l-.082-.4a6.884 6.884 0 0 0-1.016-2.453l-.227-.34 1.376-1.384.081-.082-1.416-1.416-1.465 1.458-.34-.227a6.959 6.959 0 0 0-2.454-1.016L15 7.057V5c0-.003-.664-.003-1.992 0-.005 0-.008.686-.008 2.057l-.399.083a6.959 6.959 0 0 0-2.454 1.016l-.34.227-1.46-1.45c-.003-.004-.477.466-1.421 1.408l1.457 1.466z"></path></g></svg></span>
                                        </button>
                                        <div class="group-MBOVGQRI">
                                            <button aria-label="Fullscreen mode"
                                                    data-tooltip-hotkey="{&amp;quot;keys&amp;quot;:[&amp;quot;⇧&amp;quot;,&amp;quot;F&amp;quot;],&amp;quot;text&amp;quot;:&amp;quot;{0} + {1}&amp;quot;}"
                                                    tabindex="-1" type="button"
                                                    class="button-xNqEcuN2 button-GwQQdU8S apply-common-tooltip isInteractive-GwQQdU8S accessible-GwQQdU8S"
                                                    data-tooltip="Fullscreen mode"><span class="icon-GwQQdU8S"><svg
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="28"
                                                    height="28"><path fill="currentColor"
                                                                      d="M8.5 6A2.5 2.5 0 0 0 6 8.5V11h1V8.5C7 7.67 7.67 7 8.5 7H11V6H8.5zM6 17v2.5A2.5 2.5 0 0 0 8.5 22H11v-1H8.5A1.5 1.5 0 0 1 7 19.5V17H6zM19.5 7H17V6h2.5A2.5 2.5 0 0 1 22 8.5V11h-1V8.5c0-.83-.67-1.5-1.5-1.5zM22 19.5V17h-1v2.5c0 .83-.67 1.5-1.5 1.5H17v1h2.5a2.5 2.5 0 0 0 2.5-2.5z"></path></svg></span>
                                            </button>
                                        </div>
                                        <button type="button"
                                                class="button-merBkM5y apply-common-tooltip accessible-merBkM5y"
                                                tabindex="-1" data-tooltip="Take a snapshot"
                                                aria-label="Take a snapshot">
                                            <div data-role="button" class="iconButton-OhqNVIYA button-GwQQdU8S"><span
                                                    class="icon-GwQQdU8S"><svg xmlns="http://www.w3.org/2000/svg"
                                                                               width="28" height="28"
                                                                               fill="currentColor"><path
                                                    fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M11.118 6a.5.5 0 0 0-.447.276L9.809 8H5.5A1.5 1.5 0 0 0 4 9.5v10A1.5 1.5 0 0 0 5.5 21h16a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 21.5 8h-4.309l-.862-1.724A.5.5 0 0 0 15.882 6h-4.764zm-1.342-.17A1.5 1.5 0 0 1 11.118 5h4.764a1.5 1.5 0 0 1 1.342.83L17.809 7H21.5A2.5 2.5 0 0 1 24 9.5v10a2.5 2.5 0 0 1-2.5 2.5h-16A2.5 2.5 0 0 1 3 19.5v-10A2.5 2.5 0 0 1 5.5 7h3.691l.585-1.17z"></path><path
                                                    fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M13.5 18a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zm0 1a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9z"></path></svg></span>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="mobilePublish-OhqNVIYA group-MBOVGQRI noRightDecoration-MBOVGQRI">
                                        <div class="container-yRWAMXSg">
                                            <button type="button"
                                                    class="menuWrap-yRWAMXSg accessible-yRWAMXSg button-merBkM5y apply-common-tooltip accessible-merBkM5y"
                                                    tabindex="-1"
                                                    data-tooltip="Share your idea with the trade community"
                                                    aria-label="Share your idea with the trade community">
                                                <div class="publish-chart-button button-yRWAMXSg fillButton-yRWAMXSg publishBtn-yRWAMXSg button-O36zDbH4 variant-round-O36zDbH4 color-blue-O36zDbH4 interactive-O36zDbH4">
                                                    <div class="bg-O36zDbH4">Publish</div>
                                                </div>
                                            </button>
                                            <div class="publish-chart-button button-yRWAMXSg tabletButton-yRWAMXSg apply-common-tooltip button-O36zDbH4 variant-round-O36zDbH4 color-blue-O36zDbH4 interactive-O36zDbH4 iconOnly-O36zDbH4"
                                                 title="Share your idea with the trade community">
                                                <div class="bg-O36zDbH4"><span class="icon-O36zDbH4"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"
                                                        width="18" height="18"><path fill="currentColor"
                                                                                     d="M3 7.63C3 4.52 5.69 2 9 2s6 2.52 6 5.63c0 1.82-.93 3.64-2.4 4.69v2.43c0 .4-.35.75-.8.75H11v.74c0 .42-.34.76-.8.76H7.8a.77.77 0 0 1-.8-.76v-.74h-.8c-.44 0-.8-.34-.8-.75v-2.43A5.88 5.88 0 0 1 3 7.62Zm3.2 4.87v.75h5.6v-.75H6.2Zm5.87-.75a5.14 5.14 0 0 0 2.13-4.13c0-2.69-2.33-4.87-5.2-4.87S3.8 4.93 3.8 7.63c0 1.62.85 3.23 2.13 4.12h6.14ZM6.2 14v.75h5.6V14H6.2Zm1.6 1.5v.75h2.4v-.75H7.8ZM8.6 8v3h.8V8h3.2v-.75H9.4v-3h-.8v3H5.4V8h3.2Z"></path></svg></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inner-OhqNVIYA" data-is-fake-main-panel="false" aria-hidden="false" role="toolbar">
                <div class="wrapOverflow-wXGVFOC9">
                    <div class="wrap-wXGVFOC9">
                        <div class="scrollWrap-wXGVFOC9 noScrollBar-wXGVFOC9">
                            <div class="content-OhqNVIYA" role="none">
                                <div class="innerWrap-OhqNVIYA">
                                    <div class="separatorWrap-MBOVGQRI">
                                        <div class="separator-xVhBjD5m separator-MBOVGQRI"></div>
                                    </div>
                                    <div class="group-MBOVGQRI">
                                        <button aria-label="Symbol Search" id="header-toolbar-symbol-search"
                                                tabindex="-1" type="button"
                                                class="uppercase-cq__ntSC button-GwQQdU8S button-cq__ntSC apply-common-tooltip isInteractive-GwQQdU8S accessible-GwQQdU8S"
                                                data-tooltip="Symbol Search"><span class="icon-GwQQdU8S"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" width="18"
                                                height="18"><path fill="currentColor"
                                                                  d="M3.5 8a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM8 2a6 6 0 1 0 3.65 10.76l3.58 3.58 1.06-1.06-3.57-3.57A6 6 0 0 0 8 2Z"></path></svg></span>
                                            <div class="js-button-text text-GwQQdU8S text-cq__ntSC">NVDA</div>
                                        </button>
                                        <button aria-label="Compare or Add Symbol" id="header-toolbar-compare"
                                                tabindex="-1" type="button"
                                                class="button-OhqNVIYA button-ptpAHg8E withoutText-ptpAHg8E button-GwQQdU8S apply-common-tooltip isInteractive-GwQQdU8S accessible-GwQQdU8S"
                                                data-tooltip="Compare or Add Symbol"><span class="icon-GwQQdU8S"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="28"
                                                height="28"><path fill="currentColor"
                                                                  d="M13.5 6a8.5 8.5 0 1 0 0 17 8.5 8.5 0 0 0 0-17zM4 14.5a9.5 9.5 0 1 1 19 0 9.5 9.5 0 0 1-19 0z"></path><path
                                                fill="currentColor"
                                                d="M9 14h4v-4h1v4h4v1h-4v4h-1v-4H9v-1z"></path></svg></span></button>
                                    </div>
                                    <div class="separatorWrap-MBOVGQRI">
                                        <div class="separator-xVhBjD5m separator-MBOVGQRI"></div>
                                    </div>
                                    <div class="group-MBOVGQRI">
                                        <div class="wrap-n5bmFxyX" id="header-toolbar-intervals">
                                            <button type="button"
                                                    class="menu-S_1OCXUK button-merBkM5y apply-common-tooltip accessible-merBkM5y"
                                                    tabindex="-1" data-tooltip="1 minute" aria-label="1 minute">
                                                <div class="menuContent-S_1OCXUK wrap-n5bmFxyX">
                                                    <div class="value-gwXludjS">1m</div>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="separatorWrap-MBOVGQRI">
                                        <div class="separator-xVhBjD5m separator-MBOVGQRI"></div>
                                    </div>
                                    <div class="group-MBOVGQRI">
                                        <div class="wrap-n5bmFxyX" id="header-toolbar-chart-styles">
                                            <button type="button"
                                                    class="menu-b3Cgff6l button-merBkM5y apply-common-tooltip accessible-merBkM5y"
                                                    tabindex="-1" data-tooltip="Hollow candles"
                                                    aria-label="Hollow candles">
                                                <div class="wrap-n5bmFxyX"><span><svg xmlns="http://www.w3.org/2000/svg"
                                                                                      viewBox="0 0 28 28" width="28"
                                                                                      height="28" fill="currentColor"><path
                                                        d="M17 11v6h3v-6h-3zm-.5-1h4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5z"></path><path
                                                        d="M18 7h1v3.5h-1zm0 10.5h1V21h-1z"></path><path
                                                        d="M9 8v11h3V8H9zm-.5-1h4a.5.5 0 0 1 .5.5v12a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5v-12a.5.5 0 0 1 .5-.5z"></path><path
                                                        d="M10 4h1v5h-1zm0 14h1v5h-1zM8.5 9H10v1H8.5zM11 9h1.5v1H11zm-1 1h1v1h-1zm-1.5 1H10v1H8.5zm2.5 0h1.5v1H11zm-1 1h1v1h-1zm-1.5 1H10v1H8.5zm2.5 0h1.5v1H11zm-1 1h1v1h-1zm-1.5 1H10v1H8.5zm2.5 0h1.5v1H11zm-1 1h1v1h-1zm-1.5 1H10v1H8.5zm2.5 0h1.5v1H11z"></path></svg></span>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="separatorWrap-MBOVGQRI">
                                        <div class="separator-xVhBjD5m separator-MBOVGQRI"></div>
                                    </div>
                                    <div class="group-MBOVGQRI">
                                        <div class="wrap-n5bmFxyX" id="header-toolbar-indicators">
                                            <button aria-label="Indicators, Metrics &amp; Strategies" data-role="button"
                                                    data-tooltip-hotkey="{&amp;quot;keys&amp;quot;:[&amp;quot;/&amp;quot;],&amp;quot;text&amp;quot;:&amp;quot;{0}&amp;quot;}"
                                                    tabindex="-1" type="button"
                                                    class="button-OhqNVIYA button-ptpAHg8E withText-ptpAHg8E button-GwQQdU8S apply-common-tooltip isInteractive-GwQQdU8S accessible-GwQQdU8S"
                                                    data-name="open-indicators-dialog"
                                                    data-tooltip="Indicators, Metrics &amp; Strategies"><span
                                                    class="icon-GwQQdU8S"><svg xmlns="http://www.w3.org/2000/svg"
                                                                               viewBox="0 0 28 28" width="28"
                                                                               height="28" fill="none"><path
                                                    stroke="currentColor"
                                                    d="M6 12l4.8-4.8a1 1 0 0 1 1.4 0l2.7 2.7a1 1 0 0 0 1.3.1L23 5"></path><path
                                                    fill="currentColor" fill-rule="evenodd"
                                                    d="M19 12a1 1 0 0 0-1 1v4h-3v-1a1 1 0 0 0-1-1h-3a1 1 0 0 0-1 1v2H7a1 1 0 0 0-1 1v4h17V13a1 1 0 0 0-1-1h-3zm0 10h3v-9h-3v9zm-1 0v-4h-3v4h3zm-4-4.5V22h-3v-6h3v1.5zM10 22v-3H7v3h3z"></path></svg></span>
                                                <div class="js-button-text text-GwQQdU8S">Indicators</div>
                                            </button>
                                            <button type="button"
                                                    class="button-merBkM5y apply-common-tooltip accessible-merBkM5y"
                                                    tabindex="-1" data-name="show-favorite-indicators"
                                                    data-tooltip="Favorites" aria-label="Favorites">
                                                <div class="arrow-merBkM5y">
                                                    <div class="arrowWrap-merBkM5y"><span class="icon-WB2y0EnP"><svg
                                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 8"
                                                            width="16" height="8"><path fill="currentColor"
                                                                                        d="M0 1.475l7.396 6.04.596.485.593-.49L16 1.39 14.807 0 7.393 6.122 8.58 6.12 1.186.08z"></path></svg></span>
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                        <div class="wrap-jiC5bgmi full-jiC5bgmi wrap-n5bmFxyX"
                                             id="header-toolbar-study-templates">
                                            <button type="button"
                                                    class="button-merBkM5y apply-common-tooltip accessible-merBkM5y"
                                                    tabindex="-1" data-tooltip="Indicator Templates"
                                                    aria-label="Indicator Templates">
                                                <div data-role="button"
                                                     class="button-ptpAHg8E withoutText-ptpAHg8E button-GwQQdU8S isInteractive-GwQQdU8S">
                                                    <span class="icon-GwQQdU8S"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                     viewBox="0 0 28 28" width="28"
                                                                                     height="28"><path
                                                            fill="currentColor" fill-rule="evenodd"
                                                            d="M8 7h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1zM6 8c0-1.1.9-2 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2V8zm11-1h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-3a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1zm-2 1c0-1.1.9-2 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-3a2 2 0 0 1-2-2V8zm-4 8H8a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1zm-3-1a2 2 0 0 0-2 2v3c0 1.1.9 2 2 2h3a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2H8zm9 1h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-3a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1zm-2 1c0-1.1.9-2 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-3a2 2 0 0 1-2-2v-3z"></path></svg></span>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="separatorWrap-MBOVGQRI">
                                        <div class="separator-xVhBjD5m separator-MBOVGQRI"></div>
                                    </div>
                                    <div class="group-MBOVGQRI">
                                        <button aria-label="Create Alert" id="header-toolbar-alerts"
                                                data-tooltip-hotkey="{&amp;quot;keys&amp;quot;:[&amp;quot;⌥&amp;quot;,&amp;quot;A&amp;quot;],&amp;quot;text&amp;quot;:&amp;quot;{0} + {1}&amp;quot;}"
                                                tabindex="-1" type="button"
                                                class="button-OhqNVIYA button-ptpAHg8E withText-ptpAHg8E button-GwQQdU8S apply-common-tooltip isInteractive-GwQQdU8S accessible-GwQQdU8S"
                                                data-tooltip="Create Alert"><span class="icon-GwQQdU8S"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="28"
                                                height="28"><path fill="currentColor" fill-rule="evenodd"
                                                                  d="M8.5 6a3.5 3.5 0 0 0-2.926 5.422 8.527 8.527 0 0 1 4.848-4.848A3.482 3.482 0 0 0 8.5 6zM4 9.5c0 1.19.463 2.274 1.218 3.079A8.5 8.5 0 0 0 13.5 23h.5v-1h-.5a7.5 7.5 0 1 1 7.5-7.5v.5h1v-.5a8.53 8.53 0 0 0-.218-1.921 4.5 4.5 0 0 0-6.36-6.36 8.527 8.527 0 0 0-3.843-.001A4.5 4.5 0 0 0 4 9.5zm12.578-2.926a8.527 8.527 0 0 1 4.848 4.848 3.5 3.5 0 0 0-4.848-4.848zM13 14V9h1v6h-4v-1h3zm6 6h-4v1h4v4h1v-4h4v-1h-4v-4h-1v4z"></path></svg></span>
                                            <div class="js-button-text text-GwQQdU8S">Alert</div>
                                        </button>
                                        <button aria-label="Bar Replay" id="header-toolbar-replay" aria-pressed="false"
                                                tabindex="-1" type="button"
                                                class="button-OhqNVIYA button-ptpAHg8E withText-ptpAHg8E button-GwQQdU8S apply-common-tooltip isInteractive-GwQQdU8S accessible-GwQQdU8S"
                                                data-tooltip="Bar Replay"><span class="icon-GwQQdU8S"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="28"
                                                height="28"><path fill="none" stroke="currentColor"
                                                                  d="M13.5 20V9l-6 5.5 6 5.5zM21.5 20V9l-6 5.5 6 5.5z"></path></svg></span>
                                            <div class="js-button-text text-GwQQdU8S">Replay</div>
                                        </button>
                                    </div>
                                    <div class="separatorWrap-MBOVGQRI">
                                        <div class="separator-xVhBjD5m separator-MBOVGQRI"></div>
                                    </div>
                                    <div class="group-MBOVGQRI">
                                        <div class="wrap-n5bmFxyX" id="header-toolbar-undo-redo">
                                            <button tabindex="-1" type="button"
                                                    class="button-GwQQdU8S apply-common-tooltip isInteractive-GwQQdU8S accessible-GwQQdU8S"
                                                    aria-label="Undo hide Khanhdeux - Buy-Sell Signal"
                                                    data-tooltip-hotkey="{&amp;quot;keys&amp;quot;:[&amp;quot;⌘&amp;quot;,&amp;quot;Z&amp;quot;],&amp;quot;text&amp;quot;:&amp;quot;{0} + {1}&amp;quot;}"
                                                    data-tooltip="Undo hide Khanhdeux - Buy-Sell Signal"><span
                                                    class="icon-GwQQdU8S icon-uMfL97K2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="28"
                                                    height="28"><path fill="currentColor"
                                                                      d="M8.707 13l2.647 2.646-.707.708L6.792 12.5l3.853-3.854.708.708L8.707 12H14.5a5.5 5.5 0 0 1 5.5 5.5V19h-1v-1.5a4.5 4.5 0 0 0-4.5-4.5H8.707z"></path></svg></span>
                                            </button>
                                            <button tabindex="-1" type="button"
                                                    class="button-GwQQdU8S isDisabled-GwQQdU8S accessible-GwQQdU8S"
                                                    disabled=""><span class="icon-GwQQdU8S icon-uMfL97K2"><svg
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="28"
                                                    height="28"><path fill="currentColor"
                                                                      d="M18.293 13l-2.647 2.646.707.708 3.854-3.854-3.854-3.854-.707.708L18.293 12H12.5A5.5 5.5 0 0 0 7 17.5V19h1v-1.5a4.5 4.5 0 0 1 4.5-4.5h5.793z"></path></svg></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="fill-OhqNVIYA group-MBOVGQRI"></div>
                                    <div class="group-MBOVGQRI">
                                        <button type="button" id="header-toolbar-layouts"
                                                class="button-aGeQPIIx button-merBkM5y apply-common-tooltip accessible-merBkM5y"
                                                tabindex="-1" data-tooltip="Select Layout" aria-label="Select Layout">
                                            <span class="icon-aGeQPIIx"><svg xmlns="http://www.w3.org/2000/svg"
                                                                             viewBox="0 0 19 17" width="19" height="17"><path
                                                    fill="currentColor"
                                                    d="M2.5 1C1.67 1 1 1.67 1 2.5v12c0 .83.67 1.5 1.5 1.5h14c.83 0 1.5-.67 1.5-1.5v-12c0-.83-.67-1.5-1.5-1.5h-14ZM0 2.5A2.5 2.5 0 0 1 2.5 0h14A2.5 2.5 0 0 1 19 2.5v12a2.5 2.5 0 0 1-2.5 2.5h-14A2.5 2.5 0 0 1 0 14.5v-12Z"></path></svg></span>
                                        </button>
                                        <div class="wrap-n5bmFxyX">
                                            <div class="wrap-n5bmFxyX">
                                                <button aria-label="Save all charts for all symbols and intervals on your layout"
                                                        id="header-toolbar-save-load"
                                                        data-tooltip-hotkey="{&amp;quot;keys&amp;quot;:[&amp;quot;⌘&amp;quot;,&amp;quot;S&amp;quot;],&amp;quot;text&amp;quot;:&amp;quot;{0} + {1}&amp;quot;}"
                                                        tabindex="-1" type="button"
                                                        class="button-yyMUOAN9 buttonSmallPadding-yyMUOAN9 button-ptpAHg8E withText-ptpAHg8E button-GwQQdU8S button-ZuDkGGhF apply-common-tooltip isInteractive-GwQQdU8S accessible-GwQQdU8S"
                                                        data-tooltip="Save all charts for all symbols and intervals on your layout">
                                                    <div class="js-button-text text-GwQQdU8S">
                                                        <div class="textWrap-yyMUOAN9"><span class="text-yyMUOAN9">Unnamed</span><span
                                                                class="saveString-XVd1Kfjg">Save</span></div>
                                                    </div>
                                                </button>
                                                <button type="button"
                                                        class="button-merBkM5y apply-common-tooltip accessible-merBkM5y"
                                                        tabindex="-1" data-name="save-load-menu"
                                                        data-tooltip="Manage layouts" aria-label="Manage layouts">
                                                    <div class="arrow-merBkM5y">
                                                        <div class="arrowWrap-merBkM5y"><span class="icon-WB2y0EnP"><svg
                                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 8"
                                                                width="16" height="8"><path fill="currentColor"
                                                                                            d="M0 1.475l7.396 6.04.596.485.593-.49L16 1.39 14.807 0 7.393 6.122 8.58 6.12 1.186.08z"></path></svg></span>
                                                        </div>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="separatorWrap-MBOVGQRI">
                                        <div class="separator-xVhBjD5m separator-MBOVGQRI"></div>
                                    </div>
                                    <div class="group-MBOVGQRI">
                                        <button aria-label="Quick Search"
                                                data-tooltip-hotkey="{&amp;quot;keys&amp;quot;:[&amp;quot;⌘&amp;quot;,&amp;quot;K&amp;quot;],&amp;quot;text&amp;quot;:&amp;quot;{0} + {1}&amp;quot;}"
                                                tabindex="-1" type="button"
                                                class="iconButton-OhqNVIYA button-xNqEcuN2 button-GwQQdU8S apply-common-tooltip isInteractive-GwQQdU8S accessible-GwQQdU8S"
                                                data-name="header-toolbar-quick-search" data-tooltip="Quick Search">
                                            <span class="icon-GwQQdU8S"><svg xmlns="http://www.w3.org/2000/svg"
                                                                             viewBox="0 0 28 28" width="28" height="28"><path
                                                    fill="currentColor"
                                                    d="M15 11v4l1-1.5 2.33-3.5.67-1h-3V4l-1 1.5L12.67 9 12 10h3v1Zm2-7v4h2a1 1 0 0 1 .83 1.55l-4 6A1 1 0 0 1 14 15v-4h-2a1 1 0 0 1-.83-1.56l4-6A1 1 0 0 1 17 4ZM5 13.5a7.5 7.5 0 0 1 6-7.35v1.02A6.5 6.5 0 1 0 18.98 13h1a7.6 7.6 0 0 1-1.83 5.44l4.7 4.7-.7.71-4.71-4.7A7.5 7.5 0 0 1 5 13.5Z"></path></svg></span>
                                        </button>
                                        <button aria-label="Chart settings" tabindex="-1" type="button"
                                                class="iconButton-OhqNVIYA button-xNqEcuN2 button-GwQQdU8S apply-common-tooltip isInteractive-GwQQdU8S accessible-GwQQdU8S"
                                                data-name="header-toolbar-properties" data-tooltip="Chart settings">
                                            <span class="icon-GwQQdU8S"><svg xmlns="http://www.w3.org/2000/svg"
                                                                             viewBox="0 0 28 28" width="28" height="28"><g
                                                    fill="currentColor" fill-rule="evenodd"><path fill-rule="nonzero"
                                                                                                  d="M14 17a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0-1a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"></path><path
                                                    d="M5.005 16A1.003 1.003 0 0 1 4 14.992v-1.984A.998.998 0 0 1 5 12h1.252a7.87 7.87 0 0 1 .853-2.06l-.919-.925c-.356-.397-.348-1 .03-1.379l1.42-1.42a1 1 0 0 1 1.416.007l.889.882A7.96 7.96 0 0 1 12 6.253V5c0-.514.46-1 1-1h2c.557 0 1 .44 1 1v1.253a7.96 7.96 0 0 1 2.06.852l.888-.882a1 1 0 0 1 1.416-.006l1.42 1.42a.999.999 0 0 1 .029 1.377s-.4.406-.918.926a7.87 7.87 0 0 1 .853 2.06H23c.557 0 1 .447 1 1.008v1.984A.998.998 0 0 1 23 16h-1.252a7.87 7.87 0 0 1-.853 2.06l.882.888a1 1 0 0 1 .006 1.416l-1.42 1.42a1 1 0 0 1-1.415-.007l-.889-.882a7.96 7.96 0 0 1-2.059.852v1.248c0 .56-.45 1.005-1.008 1.005h-1.984A1.004 1.004 0 0 1 12 22.995v-1.248a7.96 7.96 0 0 1-2.06-.852l-.888.882a1 1 0 0 1-1.416.006l-1.42-1.42a1 1 0 0 1 .007-1.415l.882-.888A7.87 7.87 0 0 1 6.252 16H5.005zm3.378-6.193l-.227.34A6.884 6.884 0 0 0 7.14 12.6l-.082.4H5.005C5.002 13 5 13.664 5 14.992c0 .005.686.008 2.058.008l.082.4c.18.883.52 1.71 1.016 2.453l.227.34-1.45 1.46c-.004.003.466.477 1.41 1.422l1.464-1.458.34.227a6.959 6.959 0 0 0 2.454 1.016l.399.083v2.052c0 .003.664.005 1.992.005.005 0 .008-.686.008-2.057l.399-.083a6.959 6.959 0 0 0 2.454-1.016l.34-.227 1.46 1.45c.003.004.477-.466 1.422-1.41l-1.458-1.464.227-.34A6.884 6.884 0 0 0 20.86 15.4l.082-.4h2.053c.003 0 .005-.664.005-1.992 0-.005-.686-.008-2.058-.008l-.082-.4a6.884 6.884 0 0 0-1.016-2.453l-.227-.34 1.376-1.384.081-.082-1.416-1.416-1.465 1.458-.34-.227a6.959 6.959 0 0 0-2.454-1.016L15 7.057V5c0-.003-.664-.003-1.992 0-.005 0-.008.686-.008 2.057l-.399.083a6.959 6.959 0 0 0-2.454 1.016l-.34.227-1.46-1.45c-.003-.004-.477.466-1.421 1.408l1.457 1.466z"></path></g></svg></span>
                                        </button>
                                        <div class="group-MBOVGQRI">
                                            <button aria-label="Fullscreen mode"
                                                    data-tooltip-hotkey="{&amp;quot;keys&amp;quot;:[&amp;quot;⇧&amp;quot;,&amp;quot;F&amp;quot;],&amp;quot;text&amp;quot;:&amp;quot;{0} + {1}&amp;quot;}"
                                                    tabindex="-1" type="button"
                                                    class="button-xNqEcuN2 button-GwQQdU8S apply-common-tooltip isInteractive-GwQQdU8S accessible-GwQQdU8S"
                                                    data-name="header-toolbar-fullscreen"
                                                    data-tooltip="Fullscreen mode"><span class="icon-GwQQdU8S"><svg
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="28"
                                                    height="28"><path fill="currentColor"
                                                                      d="M8.5 6A2.5 2.5 0 0 0 6 8.5V11h1V8.5C7 7.67 7.67 7 8.5 7H11V6H8.5zM6 17v2.5A2.5 2.5 0 0 0 8.5 22H11v-1H8.5A1.5 1.5 0 0 1 7 19.5V17H6zM19.5 7H17V6h2.5A2.5 2.5 0 0 1 22 8.5V11h-1V8.5c0-.83-.67-1.5-1.5-1.5zM22 19.5V17h-1v2.5c0 .83-.67 1.5-1.5 1.5H17v1h2.5a2.5 2.5 0 0 0 2.5-2.5z"></path></svg></span>
                                            </button>
                                        </div>
                                        <button type="button"
                                                class="button-merBkM5y apply-common-tooltip accessible-merBkM5y"
                                                tabindex="-1" data-tooltip="Take a snapshot"
                                                aria-label="Take a snapshot">
                                            <div id="header-toolbar-screenshot" data-role="button"
                                                 class="iconButton-OhqNVIYA button-GwQQdU8S"><span
                                                    class="icon-GwQQdU8S"><svg xmlns="http://www.w3.org/2000/svg"
                                                                               width="28" height="28"
                                                                               fill="currentColor"><path
                                                    fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M11.118 6a.5.5 0 0 0-.447.276L9.809 8H5.5A1.5 1.5 0 0 0 4 9.5v10A1.5 1.5 0 0 0 5.5 21h16a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 21.5 8h-4.309l-.862-1.724A.5.5 0 0 0 15.882 6h-4.764zm-1.342-.17A1.5 1.5 0 0 1 11.118 5h4.764a1.5 1.5 0 0 1 1.342.83L17.809 7H21.5A2.5 2.5 0 0 1 24 9.5v10a2.5 2.5 0 0 1-2.5 2.5h-16A2.5 2.5 0 0 1 3 19.5v-10A2.5 2.5 0 0 1 5.5 7h3.691l.585-1.17z"></path><path
                                                    fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M13.5 18a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zm0 1a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9z"></path></svg></span>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="mobilePublish-OhqNVIYA group-MBOVGQRI noRightDecoration-MBOVGQRI">
                                        <div id="header-toolbar-publish-mobile" class="container-yRWAMXSg">
                                            <button type="button"
                                                    class="menuWrap-yRWAMXSg accessible-yRWAMXSg button-merBkM5y apply-common-tooltip accessible-merBkM5y"
                                                    tabindex="-1"
                                                    data-tooltip="Share your idea with the trade community"
                                                    aria-label="Share your idea with the trade community">
                                                <div class="publish-chart-button button-yRWAMXSg fillButton-yRWAMXSg publishBtn-yRWAMXSg button-O36zDbH4 variant-round-O36zDbH4 color-blue-O36zDbH4 interactive-O36zDbH4">
                                                    <div class="bg-O36zDbH4">Publish</div>
                                                </div>
                                            </button>
                                            <div class="publish-chart-button button-yRWAMXSg tabletButton-yRWAMXSg apply-common-tooltip button-O36zDbH4 variant-round-O36zDbH4 color-blue-O36zDbH4 interactive-O36zDbH4 iconOnly-O36zDbH4"
                                                 title="Share your idea with the trade community">
                                                <div class="bg-O36zDbH4"><span class="icon-O36zDbH4"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18"
                                                        width="18" height="18"><path fill="currentColor"
                                                                                     d="M3 7.63C3 4.52 5.69 2 9 2s6 2.52 6 5.63c0 1.82-.93 3.64-2.4 4.69v2.43c0 .4-.35.75-.8.75H11v.74c0 .42-.34.76-.8.76H7.8a.77.77 0 0 1-.8-.76v-.74h-.8c-.44 0-.8-.34-.8-.75v-2.43A5.88 5.88 0 0 1 3 7.62Zm3.2 4.87v.75h5.6v-.75H6.2Zm5.87-.75a5.14 5.14 0 0 0 2.13-4.13c0-2.69-2.33-4.87-5.2-4.87S3.8 4.93 3.8 7.63c0 1.62.85 3.23 2.13 4.12h6.14ZM6.2 14v.75h5.6V14H6.2Zm1.6 1.5v.75h2.4v-.75H7.8ZM8.6 8v3h.8V8h3.2v-.75H9.4v-3h-.8v3H5.4V8h3.2Z"></path></svg></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="header-toolbar-publish-desktop" class="desktopPublish-OhqNVIYA container-yRWAMXSg">
                    <button type="button"
                            class="menuWrap-yRWAMXSg accessible-yRWAMXSg button-merBkM5y apply-common-tooltip accessible-merBkM5y"
                            tabindex="-1" data-tooltip="Share your idea with the trade community"
                            aria-label="Share your idea with the trade community">
                        <div class="publish-chart-button button-yRWAMXSg fillButton-yRWAMXSg publishBtn-yRWAMXSg button-O36zDbH4 variant-round-O36zDbH4 color-blue-O36zDbH4 interactive-O36zDbH4">
                            <div class="bg-O36zDbH4">Publish</div>
                        </div>
                    </button>
                    <div class="publish-chart-button button-yRWAMXSg tabletButton-yRWAMXSg apply-common-tooltip button-O36zDbH4 variant-round-O36zDbH4 color-blue-O36zDbH4 interactive-O36zDbH4 iconOnly-O36zDbH4"
                         title="Share your idea with the trade community">
                        <div class="bg-O36zDbH4"><span class="icon-O36zDbH4"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                  viewBox="0 0 18 18" width="18"
                                                                                  height="18"><path fill="currentColor"
                                                                                                    d="M3 7.63C3 4.52 5.69 2 9 2s6 2.52 6 5.63c0 1.82-.93 3.64-2.4 4.69v2.43c0 .4-.35.75-.8.75H11v.74c0 .42-.34.76-.8.76H7.8a.77.77 0 0 1-.8-.76v-.74h-.8c-.44 0-.8-.34-.8-.75v-2.43A5.88 5.88 0 0 1 3 7.62Zm3.2 4.87v.75h5.6v-.75H6.2Zm5.87-.75a5.14 5.14 0 0 0 2.13-4.13c0-2.69-2.33-4.87-5.2-4.87S3.8 4.93 3.8 7.63c0 1.62.85 3.23 2.13 4.12h6.14ZM6.2 14v.75h5.6V14H6.2Zm1.6 1.5v.75h2.4v-.75H7.8ZM8.6 8v3h.8V8h3.2v-.75H9.4v-3h-.8v3H5.4V8h3.2Z"></path></svg></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
