@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

html,
body{
    background-color:black;
    color:white;
    text-align:center;
    font-family: monospace;
    height: 100%;
}

.row > h2, .row > form, .row > div {
     width: 100%
}

strong, h3 {
    font-size: 50px
}

.positive {
    color: green
}

.negative {
    color: red
}

.buttons {
    margin: 50px auto;
}

.btn, .btn:hover {
    color: white;
}

.btn.btn-default {
    border-color: white;
}

textarea {
    width: 100%;
    border-radius: 10px;
}

.errors {
    list-style: none;
    color: red;
}