<!doctype html>
<html>
    <head>
        <title>Movie Classification</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
<body>
    <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center">
            <h2>Your movie review:</h2>
            <div class="result-text"><h3><i>"{{ content }}"</i></h3></div>
            
            <h3>Prediction:</h3>
            
            <div>This movie review is <strong><span class="{{ prediction }}">{{ prediction }}</span></strong>
                (probability: <strong><span class="{{ prediction }}">{{ probability }}%</span></strong>).
            </div>
            
            <div class='buttons'>
                <form action="/thanks" method="post">
                    <button class="btn btn-success" type=submit value='Correct' name='feedback_button'>Correct</button>
                    <button class="btn btn-danger" type=submit value='Incorrect' name='feedback_button'>Incorrect</button>
                    <input type=hidden value='{{ prediction }}' name='prediction'>
                    <input type=hidden value='{{ content }}' name='review'>
                </form>
            </div>
            <div class='buttons'>
                <form action="/">
                    <button class="btn btn-default" type=submit value='Submit another review'>Submit another review</button>
                </form>
            </div> 
        </div>
    </div>
</body>
</html>