<!doctype html>
<html>
<head>
    <title>Movie Classification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
    <body>
        <div class="container d-flex h-100">
            <div class="row justify-content-center align-self-center">
                <h2>Please write the review for the movie "Aquaman":</h2>
                {% from "_formhelpers.html" import render_field %}
                
                <form method=post action="/results">
                    <dl>
                        {{ render_field(form.moviereview, cols='30', rows='10') }}
                    </dl>
                    <div>
                        <button class="btn btn-default" type=submit value='Submit review' name='submit_btn'>Submit review</button>
                    </div>
                </form>
            </div>
        </div>      
    </body>
</html>