<!doctype html>
<html>
    <head>
        <title>Movie Classification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
<body>
    <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center">
            <h3>Thank you for your feedback!</h3>
            <div class='buttons'>
                <form action="/">
                    <button class="btn btn-default" type=submit value='Submit another review'>Submit another review</button>
                </form>
             </div>
        </div>
    </div>        
</body>
</html>